{#}
	Pager Display:

	[ Page 1 of 15 ][ First ][ <- Previous ] .. [ 4 ][ 5 ][ 6 ][ 7 ][ 8 ] .. [ Next -> ] [ Last ]
{#}

{#} LOGIC ----------------------------
-----------------------------------{#}
{% set maxPagers = 5 %}

{% if ((page - maxPagers / 2)|round(0, 'ceil')) > 1 %}
	{% set crushStart = true %}
{% else %}
	{% set crushStart = false %}
{% endif %}

{% if ((page + maxPagers / 2)|round(0, 'floor')) < total_pages %}
	{% set crushEnd = true %}
{% else %}
	{% set crushEnd = true %}
{% endif %}

{% if crushStart %}
	{% set startPage = ((page - maxPagers / 2)|round(0, 'ceil')) %}
{% else %}
	{% set startPage = 1 %}
{% endif %}

{% if crushEnd %}
	{% set endPage = ((page + maxPagers / 2)|round(0, 'floor')) %}
{% else %}
	{% set endPage = total_pages %}
{% endif %}

{% if endPage > total_pages %}
	{% set endPage = total_pages %}
{% endif %}

{% if crushStart %}
	{#}how much free space is left before?{#}
	{% set pages_shown = endPage - startPage + 1 %}
	{% set padding_left = maxPagers - pages_shown %}
	{% if padding_left > 0 %}
		{% set startPage = (startPage - padding_left) %}
	{% endif %}

	{% if startPage < 1 %}
		{% set startPage = 1 %}
	{% endif %}
{% elseif crushEnd %}
	{#}how much free space is left after?{#}
	{% set pages_shown = endPage - startPage + 1 %}
	{% set padding_right = maxPagers - pages_shown %}
	{% if padding_right > 0 %}
		{% set endPage = (endPage + padding_right) %}
	{% endif %}

	{% if endPage > total_pages %}
		{% set endPage = total_pages %}
	{% endif %}
{% endif %}

{% if startPage == 2 %}
	{% set showStartDivider = false %}
	{% set endPage = endPage - 1 %}
{% else %}
	{% set showStartDivider = true %}
{% endif %}

{% if endPage == total_pages - 1 %}
	{% set showEndDivider = false %}
	{% set startPage = startPage + 1 %}
{% else %}
	{% set showEndDivider = true %}
{% endif %}

<div class="columns paginator stock-pager clearfix">
	<div class="small button-group float-right">
		<span class="indicator disabled primary button">Page {{ page }} of {{ total_pages }}</span>
		{% if startPage > 1 %}
			<a href="{{web_dir}}?page=1&view=flat" class="secondary button">1</a>
			{% if showStartDivider %}
				<span class="secondary button disabled">..</span>
			{% endif %}
		{% endif %}
		{% for i in startPage..endPage %}
			{% if i == page %}
			<a href="{{web_dir}}?page={{i}}&view=flat" class="primary button">{{ i }}</a>
			{% else %}
			<a href="{{web_dir}}?page={{i}}&view=flat" class="secondary button">{{ i }}</a>
			{% endif %}
		{% endfor %}
		{% if endPage < total_pages %}
			{% if showEndDivider %}
				<span class="secondary button disabled">..</span>
			{% endif %}
			<a href="{{web_dir}}?page={{ total_pages }}&view=flat" class="secondary button{% if page == total_pages %} disabled{% endif %}">{{ total_pages }}</a>
		{% endif %}
	</div>
</div>