<div class="return-to-top">
	<div class="inner"><div class="icon"><i class="fi-play"></i>
		<div class="load-indicator"><div class="spinner"></div></div>
	</div></div>
	<div class="label disabled">
		<span class="text"></span>
		<div class="new-content-label hidden"></div>
	</div>
</div>