{#flat paging#}
{% include('pager/flat.html.twig') with {
	page        : page,
	total_pages : total_pages,
	web_dir     : web_dir
}%}

<div class="load-more-container">
	<center>
		<span class="small loader button card-shadow" id="load-more-pager"{% if total_pages < 2 %} style="display:none;"{% endif %}>{{ label|raw }}</span>
	</center>
</div>

<script type="text/javascript">
 (function() {
 	$(document).ready(function() {
 		Fortis.infiniteScroller.init({
 			//params for link management
 			pageRoot:            '{{ web_dir }}',

 			//params for accessing the db
 			page:                '{{ page|raw }}',
 			total_content_count: '{{ total_content_count }}',
 			total_pages:         '{{ total_pages }}',
 			articles_per_page:   '{{ articles_per_page }}',
 			filter:              '{{ filter|raw }}'
 		});
	});
})();
</script>