<div class="load-newer-container">
	<center>
		<a href="{{ web_dir }}" class="small loader button card-shadow" style="display:none;">{{ startLabel|raw }}</a>
		<span class="small loader button card-shadow" id="load-newer-pager">{{ label|raw }}</span>
	</center>
</div>
<script type="text/javascript">
 (function() {
 	stickyArchive = {
 		offset:false,
 		height:false,

 		scrollTo: function() {
 			if (Fortis.fn.urlParam('page') && Fortis.fn.urlParam('page') > 1 && Fortis.fn.urlParam('view') !== 'flat') {
 				$('.load-newer-container').show();
 			}
 		},

 		registerEvents: function() {
 			var that = this;

 			//initial
 			$(document).ready(function() {
				that.scrollTo();
 			});
 		},

 		init: function() {
 			if ($('.load-newer-container').length > 0) {
	 			this.registerEvents();
	 		}
 		}
 	};

 	stickyArchive.init();
})();
</script>

{#flat paging#}
{% include('pager/flat.html.twig') with {
	page        : page,
	total_pages : total_pages,
	web_dir     : web_dir
}%}