{% extends 'base.html.twig' %}

{% block body %}
	<!-- Blackout -->
	<div class="blackout scroll-lock"></div>

	{% include('navbar/main.twig') %}

	{% if slides and slides|length > 0 %}
		{% include('marquee/main.twig') with slides %}
	{% else %}
	<div class="marquee no-select">
		<div class="page-constraint">
			<div class="inner">
				<div class="pager hide-for-small-only"></div>
				<div class="swipe-indicator"></div>
				<span class="counter show-for-small-only">1/7</span>
				<a class="marquee-click-action" href="javascript:void(0)" target="_blank">Check It Out</a>
			</div>
		</div>
	</div>
	{% endif %}

	<div class="page">
		<div class="page-constraint shadow">
			<div class="content">
				<div class="page-header">
					<div class="inner">
						<h1>My Profile</h1>
					</div>
				</div>
				<div class="content-inner">
					<div class="row profile-content">
						<div class="medium-2 columns">
							<img src="{{ app.user.getGravatar(100) }}" />
						</div>
						<div class="medium-10 columns">
							<p>
								{{ user.username }}
							</p>
							<p>
								{{ user.email }}
							</p>
							<p>
								Edit your avatar at <a href="http://gravatar.com">gravatar.com</a>
							</p>
						</div>
						<!--
						<div class="large-3 medium-4 small-0 columns">
							<div class="row">
								<div class="large-12 columns sidebar" >
									<div class="inner social-card">
										Thank you viewer!
										<br /><br />
										But our sidebar is in another castle!
									</div>
								</div>
							</div>
						</div>
						-->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="page-constraint shadow">
		<center><div class="footer-logo"></div></center>
		</div>
	</div>
	<!-- Return To Top -->
	<div class="return-to-top"></div>
{% endblock %}
