{% extends 'base.html.twig' %}

{% if article.author.displayName is defined and article.author.displayName != "" %}
	{% set displayName = article.author.displayName %}
{% else %}
	{% set displayName = article.author.username %}
{% endif %}

{% block meta %}
<!-- minimal meta -->
<meta property="og:site_name"    content="Fortis Core" />
<meta property="og:title"        content="{{ article.title }}" />
<meta property="og:type"         content="article" />
<meta property="og:url"          content="{{ disqus_url }}" />
<meta property="og:image"        content="{{ article.thumbnail }}" />
<meta property="og:image:url"    content="{{ article.thumbnail }}" />
<meta property="og:description"  content="{{ article.getDescription(120,false) }}" />

<!-- twitter card -->
<meta name="twitter:card"        content="summary">
<meta name="twitter:site"        content="@fortiscore">
<meta name="twitter:title"       content="Page Title">
<meta property="og:description"  content="{{ article.getDescription(120,false) }}" />
<meta name="twitter:creator"     content="@fortiscore">
<meta name="twitter:image"       content="{{ article.thumbnail }}">

<!-- pinterest extended -->
<meta property="article:published_time" content="{{ article.created.date }}" />
<meta property="article:author"         content="{{ displayName }}" />

{% endblock %}

{% block title %}
   {{ article.title }}
{% endblock %}
{% block body %}
	{% include('navbar/main.twig')  with {
		panelView: 'mini'
	} %}
	<div class="effects full-screen-blocker"></div>
	<div class="effects full-screen-canvas scroll-lock">
		<div class="canvas-page deep-shadow">
		</div>
	</div>
	<div class="page card-page">
		<div class="content-constraint light-shadow">
			<div>
				<div class="content-inner">
					<div class="content-area">
						<div class="content-headers">
							<h1><i class="fi-play"></i>{{ article.title|raw }}</h1>
							<h3>Posted by {#}<img class="posted-by-avatar" src="{{ article.author.getGravatar(22) }}" /> {#}{{ displayName }} | <span class="timeago sub" datetime="{{ article.created.date }}" title="{{ article.created.date }}"></span></h3>
							{% if article.author == app.user or is_granted('ROLE_ADMIN') %}
								<a href="/article/edit/{{ article.id }}">Edit</a> | <a href="javascript:void(0)" id="delete-button">Delete</a>
								<script>
									$(document).ready(function(){
										$('#delete-button').on('click', function() {
											var confirmed = confirm("Deleting content CANNOT BE UNDONE. Are you sure you want to delete this content?");
											if (confirmed) {
									            $.ajax({
									                type        : 'DELETE',
									                url         : "{{ path('article_delete', {'id': article.id}) }}",
									                dataType    : "json",
									                success: function(data, status, object) {
									                	if (!data.success) {
															that.html("Delete Failed. Try Again?").removeClass("disabled");
									                	} else {
									                		//success
															$('.content-inner').find('.byline').css('display','none');
															$('.content-inner').find('.share-container').css('display','none');
															$('.content-inner').find('.comments-container').css('display','none');
															$('.content-inner').find('.article-container').html('This article has been deleted. <a href="/">Return to the home page?</a>');
															$('.content-inner').find('.article-edit-bar').css('display','none');
															$('#deleteConfirmModal').find('.close-button').trigger('click');
									                	}

									                	//look for the content card to destroy
									                	var el = $(".content-card[data-fortis-id='{{article.id}}']");
									                	if (el.length > 0) {
									                		Fortis.infiniteScroller.addFiller('replace',el);
									                	}

									                	//if canvas page visible then hide it
									                	if ($('.canvas-page.shown').length > 0) {
									                		history.back();
									                	}
									                },
									                error: function(data, status, object){
														that.html("Delete Failed. Try Again?").removeClass("disabled");
									                }
									            });
											}
										});
									});
								</script>
							{% endif %}
							<!--
							<div class="thumbnail-image">
								<div class="badge" style="background-image:url('{{ article.thumbnail }}');"></div>
							</div>
							-->
							<div id="videoplayer">
								<a href="{{ article.meta1 }}" title="embed"></a>
							</div>
							
						</div>
						<div class="article-container podcast">
							{% if article.markdown is empty %}
								This article is written in an unsupported format. The author should edit this article when possible.
							{% else %}
								{{ article.markdown|raw }}
							{% endif %}
						</div>

						{% if disqus_url == true %}
							{% include('social/share.html.twig') %}
						{% endif %}
						
					</div>
					{% if disqus_url == true %}
						<div class="comments-container">
							<div id="disqus_thread"></div>
							<script>
							/**
							* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
							* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
							*/
							var disqus_config = function () {
								this.page.url = '{{ disqus_url }}';
								this.page.identifier = 'article-{{ article.id }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
								this.page.title = '{{ article.title }}';
							};


							if (window.DISQUS) {
								DISQUS.reset({
									reload: true,
									config: function () {  
										this.page.url = '{{ disqus_url }}';
										this.page.identifier = 'article-{{ article.id }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
										this.page.title = '{{ article.title }}';
									}
								});
							} else {							
								(function() { // DON'T EDIT BELOW THIS LINE
									var d = document, s = d.createElement('script');

									s.src = '{{ disqus_endpoint }}embed.js';

									s.setAttribute('data-timestamp', +new Date());
									(d.head || d.body).appendChild(s);
								})();
							}
							</script>
							<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
						</div>
					{% else %}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function() {
			Fortis.parser.parseArticle('.article-container');
			Fortis.parser.embedYoutube('#videoplayer');
		});
	</script>
	<!-- Return To Top -->
	{% include('pager/rtt.html.twig') %}
{% endblock %}
