<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
        <meta name="theme-color" content="#1E2124"/>
        {% block meta %}

        {% endblock %}
        <title>
            {% block title %}
                Fortis Core
            {% endblock %}
        </title>

        {% block favicon %}
            <link rel="icon" type="image/png" href="{{ url('index') }}/apple-touch-icon.png" />
        {% endblock %}

        {% block webfonts %}
            {#}<link href='//fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>{#}
            <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
            {#}<link href='https://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>{#}
            <link href='//fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
            <link href='//fonts.googleapis.com/css?family=Oxygen+Mono' rel='stylesheet' type='text/css'>
        {% endblock %}

        {% block topjavascripts %}
            <!--jquery-->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
            <script sync src="https://platform.twitter.com/widgets.js"></script>
            <!--/jquery-->

            <!--local-->
            <script src="{{ url('index') }}/assets/js/app.min.js?t={{ unix_build_date }}"></script>
            <!--/local-->

            <!--analytics-->
            {% if google_analytics_enabled == 1 %}
                <script>
                    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                    ga('create', '{{ google_analytics_id }}', 'auto');
                    ga('send', 'pageview');
                </script>
            {% endif %}
            <!--/analytics-->
        {% endblock %}

        {% block topstylesheets %}
            <!--local-->
            <link rel="stylesheet" type="text/css" href="{{ url('index') }}/assets/css/app.min.css?t={{ unix_build_date }}" />
            <!--/local-->
        {% endblock %}
    </head>
    <body>
        {% block modal %}

        {% endblock %}

        <div id="flex-ie11">
            <div id="flex-body">
                {% block body %}

                {% endblock %}
            </div>
            {% block footer %}
                {% include('navbar/footer.twig') %}
            {% endblock %}
        </div>

        {% block bottomjavascripts %}
            {% if disqus_enabled %}
            <script type="text/javascript">
                window.disqus_shortname = "fortiscoregaming-community";
            </script>
            <script id="dsq-count-scr" src="{{ disqus_endpoint }}count.js" async></script>
            {% endif %}
            <script type="text/javascript">
                window.Fortis.init('{{ unix_build_date }}');
            </script>
        {% endblock %}
    </body>
</html>
