{% extends 'base.html.twig' %}

{% block title %}
    Contact Us
{% endblock %}
{% block body %}
	{% include('navbar/main.twig')  with {
		panelView: 'mini'
	} %}
	<div class="effects full-screen-blocker"></div>
	<div class="effects full-screen-canvas scroll-lock">
		<div class="canvas-page deep-shadow">
		</div>
	</div>
	<div class="content-constraint bare card-shadow">
		<center>
			<h1>Contact Us</h1>
			<form id="contactform" action="javascript:void(0)" method="post" style="max-width:400px">
		        <div>
		            <label for="name" style="text-align:left;">Name:</label>
		            <input type="text" id="name" name="user_name">
		        </div>
		        <div>
		            <label for="mail" style="text-align:left;">E-mail:</label>
		            <input type="email" id="mail" name="user_mail">
		        </div>
		        <div>
		            <label for="msg" style="text-align:left;">Message:</label>
		            <textarea id="msg" name="user_message" style="min-height:200px;"></textarea>
		        </div>

		        <button class="small loader button card-shadow" type="submit">Send your message</button>
		    </form>
		</center>
	</div>
	<script>
		$(document).ready(function() {
		  $('#contactform').on('submit', (event) => {
		    const btn = $('#contactform').find('button');
		    btn.attr('disabled', true)
		      .addClass('disabled')
		      .html('Sending...');

		    const data = {
		      name: $('#name').val(),
		      email: $('#mail').val(),
		      message: $('#msg').val()
		    };

		    $.post( '/send-email', data, function() {
		      // alert( 'success' );
		    })
		    .done(function(data) {
		      // alert( 'success' );
		      if (data.response) {
		        window.alert(data.response);
		      }
		    })
		    .fail(function(data) {
		      // alert( 'error' );
		      if (data.responseJSON && data.responseJSON.response) {
		        window.alert(data.responseJSON.response);
		      }
		    })
		    .always(function() {
		      // alert( 'finished' );
		      const btn = $('#contactform').find('button');
		      btn.attr('disabled', false)
		        .removeClass('disabled').
		        html('Send your message');

		      $('#name').val('');
		      $('#mail').val('');
		      $('#msg').val('');
		    });
		  });
		});
	</script>
	<!-- Return To Top -->
	{% include('pager/rtt.html.twig') %}
{% endblock %}
