<!DOCTYPE html>

<html>
<head>
<title>Donate</title>
</head>
<body>
  <form name="donateBTN" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="U5PJK599JR4XS">
    <input type="image" src="http://cdn.fortiscoregaming.com/DONATE-IMG.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" style="display:none;">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
  </form>
</body>
<script type="text/javascript">
  window.onload = function() {
    document.forms['donateBTN'].submit();
  }
</script>
</html>
