<div id="share-buttons">
    <style type="text/css">
        ul.share-buttons {
			list-style: none;
			position:relative;
			padding: 0;
			margin: 0;
        } ul.share-buttons li {
            -webkit-transform: translateZ(0);
            -webkit-transition: top 0.2s, background-color 0.2s -webkit-box-shadow 0.2s, -moz-box-shadow 0.2s, box-shadow 0.2s; /* Safari */
            transition: top 0.2s, background-color 0.2s, -webkit-box-shadow 0.2s, -moz-box-shadow 0.2s, box-shadow 0.2s;
        }

        ul.share-buttons li {
        	position:relative;
        	top:-3px;
            display: block;
            float:left;
            margin:0;
          	cursor:pointer;
        } ul.share-buttons li a {
            padding:0.1em;
            padding-left:0.7em;
            padding-right:0.7em;
        } ul.share-buttons li i {
        	position:relative;
        	top:0px;
            margin:0;
            color:#888888;
            font-size:1.5em;
        } ul.share-buttons li i.fi-social-facebook {
            color:#46629E;
        } ul.share-buttons li i.fi-social-twitter  {
            color:#55ACEE;
        } ul.share-buttons li i.fi-social-google-plus {
            color:#DB4437;
        } ul.share-buttons li i.fi-social-pinterest {
            color:#BC071A;
        } ul.share-buttons li i.fi-mail {
            color:#888888;
        } ul.share-buttons li:hover {
        	top:-6px;
        	background-color:#fefefe;
			-webkit-box-shadow: 0px 0px 36px 1px rgba(0,0,0,0.05);
			-moz-box-shadow: 0px 0px 36px 1px rgba(0,0,0,0.05);
			box-shadow: 0px 0px 36px 1px rgba(0,0,0,0.05);
        } h1.share-label {
        	color:#888888;
        	font-size:0.8em;
        	margin-right:10px;
        } h1.share-label i {
        	font-size:1.4em;
        }
    </style>
    {% set width = 600 %}{% set height = 300 %}
    <script>
    	function PopupCenter(url) {
		    // Fixes dual-screen position                         Most browsers      Firefox
		    var dualScreenLeft = window.screenLeft != undefined ? window.screenLeft : screen.left;
		    var dualScreenTop = window.screenTop != undefined ? window.screenTop : screen.top;

		    width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
		    height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;

		    var left = ((width / 2) - ({{ width }} / 2)) + dualScreenLeft;
		    var top = ((height / 2) - ({{ height}} / 2)) + dualScreenTop;
		    var newWindow = window.open(url, '', 'scrollbars=yes, width=' + {{ width }} + ', height=' + {{ height }} + ', top=' + top + ', left=' + left);

		    // Puts focus on the newWindow
		    if (window.focus) {
		        newWindow.focus();
		    }
		}
    </script>
    <div class="share-container no-select clearfix">
    	<hr />
	    <ul class="share-buttons float-right">
	        <!--facebook-->
	        <li>
	            <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Ffortiscoregaming.com&t=" title="Share on Facebook" target="_blank" onclick="PopupCenter('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;">
	                <i class="icon fi-social-facebook"></i>
	            </a>
	        </li>
	        <!--twitter-->
	        <li>
	            <a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Ffortiscoregaming.com&text=:%20http%3A%2F%2Ffortiscoregaming.com" target="_blank" title="Tweet" onclick="PopupCenter('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;">
	                <i class="icon fi-social-twitter"></i>
	            </a>
	        </li>
	        <!--google plus-->
	        <li>
	            <a href="https://plus.google.com/share?url=http%3A%2F%2Ffortiscoregaming.com" target="_blank" title="Share on Google+" onclick="PopupCenter('https://plus.google.com/share?url=' + encodeURIComponent(document.URL)); return false;">
	                <i class="icon fi-social-google-plus"></i>
	            </a>
	        </li>
	        <!--pinterest-->
	        <li>
	            <a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Ffortiscoregaming.com&description=" target="_blank" title="Pin it" onclick="PopupCenter('http://pinterest.com/pin/create/button/?url=' + encodeURIComponent(document.URL) + '&description=' +  encodeURIComponent(document.title)); return false;">
	                <i class="icon fi-social-pinterest"></i>
	            </a>
	        </li>
	        <!--email-->
	        <li>
	            <a href="mailto:?subject=&body=:%20http%3A%2F%2Ffortiscoregaming.com" target="_blank" title="Email" onclick="PopupCenter('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;">
	                <i class="icon fi-mail"></i>
	            </a>
	        </li>
	    </ul>
	    <h1 class="share-label float-right"><i class="fi-share"></i> Share</h1>
	</div>
</div>