<footer class="footer">
  <div class="row full-width">
    <div class="page-constraint">
      <div class="small-12 medium-4 large-4 columns right block">
        <a href="https://discord.gg/7khfj3A" target="_blank">
          <div class="row discord">
            <div class="column small-12 medium-4 large-4">
              <img src="/assets/img/community-discord.png"/>
            </div>
            <div class="column small-12 medium-8 large-8">
              <h4>Join Our Discord Chat!</h4>
              <p>
                If you like video games, have we got the community for you!
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="small-12 medium-4 large-4 columns block">
        <h4>Follow Us!</h4>
        <a href="https://www.facebook.com/fortiscore" target="_blank" class="iconlink">
          <img src="/assets/img/community-facebook.png" />
        </a>
        <a href="https://twitter.com/fortiscore" target="_blank" class="iconlink">
          <img src="/assets/img/community-twitter.png" />
        </a>
        <a href="https://gaming.youtube.com/channel/UCxv8P7p8KHLVp4qTqAp01uA#tab=1" target="_blank" class="iconlink">
          <img src="/assets/img/community-youtube.png" />
        </a>
      </div>
      <div class="small-12 medium-3 large-3 columns left block">
        <h4>Contact &amp; Support</h4>
      <ul class="footer-links">
        <!--<li><a href="/about">About Fortis Core</a></li>-->
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/donate">Donate</a></li>
      <ul>
      </div>
    </div>
  </div>
</footer>
