{% if spotlightData is defined %}
	{% if spotlightData.splash is defined and spotlightData.splash == true and panelView == 'large' %}
		{% set splash = spotlightData.splash %}
		{% set splashPosition = 'center' %}
	{% elseif panelSplash is defined %}
		{% set splash = panelSplash %}
	{% endif %}
{% elseif panelSplash is defined %}
	{% set splash = panelSplash %}
{% endif %}

{% if activeNav is not defined %}
	{% set activeNav = 'index' %}
{% endif %}

<div class="app-sidebar">
	<div class="top-area">
	</div>
	<div class="scroll-area scroll-lock no-select">
		<ul class="navigation">
			{% include('navbar/site_links.twig') with { sidebar:true } %}
		</ul>
	</div>
</div>
{% if is_granted('ROLE_ADMIN') and panelView == 'large' %}
<div class="reveal" id="editSpotlightModal" data-reveal>
	<h1>Update Spotlight Content</h1>
	<p>
		<span class="input-label">Link Type:</span>
		<select id="link-type">
			<option value="content"{% if spotlightData.config is defined and spotlightData.config.setting2 is empty %} selected{% endif %}>Link to submitted content</option>
			<option value="other"{% if spotlightData.config is defined and spotlightData.config.setting2 is not empty %} selected{% endif %}>Link to something else</option>
		</select>

		<span class="input-label" id="content-id-label" {% if spotlightData.config is defined and spotlightData.config.setting2 is not empty %}style="display:none;"{% endif %}>
			Content ID:
			<span style="display:block; font-size:0.85em; color:#999999; word-break:break-word;">http://fortiscoregaming.com/article/view/2016/01/12/<strong style="color:#ff0000">75</strong>/markdown-feature-testing</span>
		</span>
		<input type="text" class="style-input" id="content-id" value="{% if spotlightData.config is defined %}{{ spotlightData.config.setting1 }}{% endif %}" {% if spotlightData.config is defined and spotlightData.config.setting2 is not empty %}style="display:none;"{% endif %}/>

		<span class="input-label" id="custom-link-label" {% if spotlightData.config is defined and spotlightData.config.setting2 is empty %}style="display:none;"{% endif %}>Custom URL Link:</span>
		<input type="text" class="style-input" id="custom-link" value="{% if spotlightData.config is defined %}{{ spotlightData.config.setting2 }}{% endif %}" {% if spotlightData.config is defined and spotlightData.config.setting2 is empty %}style="display:none;"{% endif %}/>

		<span class="input-label">Custom Header Text:</span>
		<input type="text" class="style-input" id="custom-text" value="{% if spotlightData.config is defined %}{{ spotlightData.config.setting3 }}{% endif %}"/>

		<span class="input-label">Custom Image:</span>
		<input type="text" class="style-input" id="custom-thumbnail" value="{% if spotlightData.config is defined %}{{ spotlightData.config.setting4 }}{% endif %}"/>
		
		<div class="primary button" id="spotlight-submit">Save Changes</div>
	</p>
	<button class="close-button" data-close aria-label="Close modal" type="button">
	<span aria-hidden="true">&times;</span>
	</button>
	<script>
		(function() {
			$(document).ready(function() {
				var updateSpotlightOptions = function() {
					var linkType = $('#editSpotlightModal #link-type').val();
					if (linkType == 'other') {
						$('#editSpotlightModal #content-id-label').hide();
						$('#editSpotlightModal #content-id').hide();
						$('#editSpotlightModal #custom-link-label').show();
						$('#editSpotlightModal #custom-link').show();
					} else {
						$('#editSpotlightModal #content-id-label').show();
						$('#editSpotlightModal #content-id').show();
						$('#editSpotlightModal #custom-link-label').hide();
						$('#editSpotlightModal #custom-link').hide();
					}
				}

				$('#link-type').on('change', function() {
					updateSpotlightOptions();
				});

				$('#editSpotlightModal #spotlight-submit').on('click', function() {
					if ($("#editSpotlightModal #custom-link").is(':visible')) {
						//erase content-id
						$("#editSpotlightModal #content-id").val('');
					} else {
						//erase custom-link
						$("#editSpotlightModal #custom-link").val('');
					}
					var data = {
						'setting1': $("#editSpotlightModal #content-id").val(),
						'setting2': $("#editSpotlightModal #custom-link").val(),
						'setting3': $("#editSpotlightModal #custom-text").val(),
						'setting4': $("#editSpotlightModal #custom-thumbnail").val(),
					};

					//send off post command
		            $.ajax({
		                type        : 'POST',
		                url         : "{{ path('config_create', {'varname': 'spotlight'}) }}",
		                data        : data,
		                dataType    : "json",
		                success: function(data, status, object) {
		                	if (!data.success) {

		                	} else {
		                		window.location.reload();
		                	}
		                },
		                error: function(data, status, object){
							
		                }
		            });
				});
			});
		})();
	</script>
</div>
{% endif %}
<div class="navbar{% if panelView == 'mini' %} always-collapsed{% endif %}">
	<div class="page-constraint">
		<div class="bridge-decor"></div>
		<a href="#app-menu" id="app-menu-toggle">
				<div class="material-icon hamburger">
    			<span class="first"></span>
    			<span class="second"></span>
    			<span class="third"></span>
			</div>
		</a>
		<a href="#app-menu" id="app-menu-toggle" class="menu-text">
			MENU
		</a>
		<div class="user-panel">
			{% include('navbar/nav-profile.twig') %}
		</div>
		<div class="centered-nav-logo no-select">
			<a href="/">
				<div class="logo-circle">
					<div class="logo-text"></div>
				</div>
			</a>
			<div class="left">
				<ul>
					<li><a href="/news"{% if activeNav == 'news' %} class="active"{% endif %}><i class="fi-megaphone"></i>News</a></li>
					<li><a href="/articles"{% if activeNav == 'articles' %} class="active"{% endif %}><i class="fi-pencil"></i>Articles</a></li>
					<li><a href="/videos"{% if activeNav == 'videos' %} class="active"{% endif %}><i class="fi-play"></i>Videos</a></li>
				</ul>
			</div>

			<div class="right">
				<ul>
					<li><a href="/reviews"{% if activeNav == 'reviews' %} class="active"{% endif %}><i class="fi-star"></i>Reviews</a></li>
					<li><a href="/podcast"{% if activeNav == 'podcast' %} class="active"{% endif %}><i class="fi-microphone"></i>Podcast</a></li>
					<li><a href="/community"{% if activeNav == 'community' %} class="active"{% endif %}><i class="fi-heart"></i>Follow</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="main-panel {% if panelView is defined %}{{ panelView }} {% endif %}no-select"{% if splash is defined %} data-img="{{ splash }}"{% endif %}>
	<div class="effects digitize"></div>
	<div class="topfade"></div>
	<div class="bottomfade"></div>
	<div class="effects greyout" style="opacity:0;"></div>
	<a href="{% if spotlightData.url is defined %}{{ spotlightData.url }}{% else %}javascript:void(0);{% endif %}" class="cta-container{% if spotlightData.cardAction is defined and spotlightData.cardAction == true %} card-action{% endif %}"{% if spotlightData.title is defined %} data-title="{{ spotlightData.title }}"{% endif %}>
		<div class="cta">
			<h1>{% if spotlightData.overrideTitle is defined %}{{ spotlightData.overrideTitle }}{% elseif spotlightData.title is defined %}{{ spotlightData.title }}{% endif %}</h1>
		</div>
	</a>
	{% if is_granted('ROLE_ADMIN') and panelView == 'large' %}
		<a class="edit-link" data-open="editSpotlightModal"><i class="fi-wrench"></i>Edit</a>
	{% endif %}
</div>
{#}
	<!-- login/register modal -->
	{% if not app.user %}
		<div class="modal full reveal no-padding shadow scroll-lock" id="login-register-modal" data-reveal>
			<div class="login-header"></div>
			<div class="tabs-content" data-tabs-content="example-tabs">
				<ul class="tabs" data-tabs id="example-tabs">
					<li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Login</a></li>
					<li class="tabs-title"><a href="#panel2">Sign Up</a></li>
					<li class="tabs-title"><a href="#panel3">Forgot Password</a></li>
				</ul>
				<div class="tabs-panel is-active" id="panel1">
					<p>
						<div class="alert callout hide"></div>
						{{ render(controller('FOSUserBundle:Security:login')) }}
					</p>
				</div>
				<div class="tabs-panel" id="panel2">
					<p>
						<div class="alert callout hide"></div>
    					{{ render(controller('FOSUserBundle:Registration:register')) }}
					</p>
				</div>
				<div class="tabs-panel" id="panel3">
					<p>
						<div class="alert callout hide"></div>
    					{{ render(controller('FOSUserBundle:Resetting:request')) }}
					</p>
				</div>
			</div>
			<button class="close-button" data-close aria-label="Close reveal" type="button">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	{% endif %}

	<!-- Mobile App Sidebar -->
	<div class="app-sidebar deep-shadow scroll-lock no-select">
		<ul>
			<li class="current"><a href="/">Home</a></li>
			<!--
			<li><a href="#">Articles</a></li>
			<li><a href="#">Reviews</a></li>
			<li><a href="#">Videos</a></li>
			<li><a href="#">Podcast</a></li>
			-->
		</ul>
	</div>

	<!-- Top Bar -->
	<div class="nav-spacer"></div>
	<div class="navbar no-select">
		<div class="page-constraint deep-shadow">
			<h6>Fortis Core</h6>
			<div id="toggle-sidebar" class="app-menu-icon show-for-small-only"></div>
			<div class="logo-mini show-for-small-only"></div>
			<a href="/"><div class="logo hide-for-small-only"></div></a>
			<ul class="hide-for-small-only">
				<li class="current"><a href="/">Home</a></li>
				<!--
				<li><a href="#">Articles</a></li>
				<li><a href="#">Reviews</a></li>
				<li><a href="#">Videos</a></li>
				<li><a href="#">Podcast</a></li>
				-->
			</ul>
			{% include('navbar/nav-profile.twig') %}
		</div>
	</div>
{#}