<ul class="nav-profile">
		<li>
			{% if app.user %}
				<div>
					<div class="user-avatar" style="background-image:url('{{ app.user.getGravatar(35) }}');">&nbsp;</div>
					<ul class="user-dropdown-menu deep-shadow">
						<li><a href="/article/new"><i class="icon fi-plus"></i>New Content</a></li>
						<li><a href="/profile"><i class="icon fi-torso"></i>My Profile</a></li>
						<li><a href="/profile/change-password"><i class="icon fi-key"></i>Reset Password</a></li>
						{% if is_granted('ROLE_ADMIN') %}
							{#}
							{% if jarvis is defined and jarvis == true %}
								<li><a href="/"><i class="icon fi-home"></i>Web Home</a></li>
							{% else %}
								<li><a href="/cp"><i class="icon fi-key"></i>Web Admin</a></li>
							{% endif %}
							{#}
						{% endif %}
						<li><a href="/logout"><i class="icon fi-power"></i>Logout</a></li>
					</ul>
				</div>
			{% else %}
				{#}
				<a href="javascript:void(0);" id="login-register-modal-button" data-toggle="login-register-modal">
					<div class="user-avatar not-logged-in">&nbsp;</div>
				</a>
				{#}
			{% endif %}
		</li>
</ul>