<li><a href="/"><i class="fi-home"></i>Home</a></li>
<li><a href="/news"><i class="fi-megaphone"></i>News</a></li>
<li><a href="/articles"><i class="fi-pencil"></i>Articles</a></li>
<li><a href="/videos"><i class="fi-play"></i>Videos</a></li>
<li><a href="/reviews"><i class="fi-star"></i>Reviews</a></li>
<li><a href="/podcast"><i class="fi-microphone"></i>Podcast</a></li>
<li><a href="/community"><i class="fi-heart"></i>Follow</a></li>

{#}
<li class="hide-for-small-only"><a href="/"><i class="fi-page"></i> Articles</a></li>
<li class="hide-for-small-only"><a href="/"><i class="fi-play"></i> Videos</a></li>
<li class="hide-for-small-only"><a href="/"><i class="fi-star"></i> Reviews</a></li>
<li class="hide-for-small-only"><a href="/"><i class="fi-microphone"></i> Podcast</a></li>
<li class="hide-for-small-only"><a href="/"><i class="fi-plus"></i> More</a></li>
{#}