<a href="https://www.facebook.com/fortiscore" target="_blank"><i class="fi-social-facebook"></i></a>
<a href="https://twitter.com/fortiscore" target="_blank"><i class="fi-social-twitter"></i></a>
<a href="https://gaming.youtube.com/channel/UCxv8P7p8KHLVp4qTqAp01uA#tab=1" target="_blank"><i class="fi-social-youtube"></i></a>
{#}<a href="https://discord.gg/0n90WMOk9JSN1T7M" target="_blank"><img src="/assets/img/social-discord.png" /></i></a>{#}