<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>
	<title>Fortis Core: {{ type }}</title>
	<link>{{ url('index')|trim('/') }}</link>
	<atom:link href="{{ url('index')|trim('/') }}/rss/{{filter}}" rel="self" type="application/rss+xml" />
	<description>For more gaming content, check out our website at fortiscoregaming.com!</description>
	{% if lastBuildDate is defined %}<lastBuildDate>{{ lastBuildDate }}</lastBuildDate>{% endif %}
	<ttl>30</ttl>
	<language>en-us</language>

	{% for content in results %}<item>
	<title>{{ content.title }}</title>
	<link>{{ url('index')|trim('/') }}{{ content.getWebLink() }}</link>
	<guid>{{ url('index')|trim('/') }}{{ content.getWebLink() }}</guid>
	<pubDate>{{ content.created|date("D, d M Y H:i:s O") }}</pubDate>
	<description>
		<![CDATA[{% if content.thumbnail is defined and content.thumbnail !="" %}<img src="{{ content.thumbnail }}"/><br />{% endif %}{{ content.getDescription(120)|raw }}]]>
	</description>
	</item>
	{% endfor %}
</channel>
</rss>