{#}
Set the template to the card type
{#}
{% if article.type == '' or article.type == '0' or article.type is not defined %}
	{% set template = 'article' %}
{% else %}
	{% set template = article.type %}
{% endif %}

{#}
Populate the template
{#}
{% include('card/' ~ template ~ '.card.twig') with {
	article: article
} %}