{% if article.author.displayName is defined and article.author.displayName != "" %}
	{% set displayName = article.author.displayName %}
{% else %}
	{% set displayName = article.author.username %}
{% endif %}

<div class="medium-4 columns panel content-card cardset tighten hidden" data-fortis-id="{{ article.id }}">
	<div class="inner card-shadow">
		<a class="card-action" href="{{ article.getWeblink() }}" data-title="{{ article.title }}">
			<div class="image">
				{#}<div class="image-fallback"></div>{#}
				<div class="image-cover" data-img="{{ article.thumbnail }}"></div>
				<span class="disqus-comment-count" data-disqus-identifier="article-{{ article.id }}"></span>
				<div class="type">
					<div class="tab">
					</div>
					<div class="colorbar">
						<div class="icon">
							<i class="fi-pencil"></i>
						</div>
					</div>
				</div>
				<span class="button content-type-label">{{article.type}}</span>
			</div>
			<div class="details">
				<h1>{{ article.title|raw }}</h1>
				{#}
				<h2 class="description">
					{{ article.description }}
				</h2>
				{#}
				<h2 class="user">
					by {{ displayName }}
				</h2>
				<p>
					{{ article.getDescription()|raw }}
				</p>

				<div class="bottom-fade"></div>
			</div>
			<div class="footer no-select">
				<span class="timeago" datetime="{{ article.created.date }}" title="{{ article.created.date }}"></span>
			</div>
			{#}
			<div class="bottom clearfix">
				<span class="type float-right">
					<span class="disqus-comment-count" data-disqus-identifier="article-{{ article.id }}"></span>
				</span>
				<span class="type float-left"><i class="icon fi-page"></i> Article</span>
				<span class="timeago float-left" datetime="{{ article.created.date }}" title="{{ article.created.date }}"></span>
			</div>
			{#}
		</a>
	</div>
</div>