{% if article.author.displayName is defined and article.author.displayName != "" %}
	{% set displayName = article.author.displayName %}
{% else %}
	{% set displayName = article.author.username %}
{% endif %}

{#}
<div class="medium-4 columns panel content-card type-podcast cardset tighten hidden" data-fortis-id="{{ article.id }}">
	<div class="inner card-shadow">
		<a class="card-action" href="{{ article.getWeblink() }}" data-title="{{ article.title }}">
			<div class="image">
				<div class="image-fallback"></div>
				<div class="image-cover" style="background-image:url('{{ article.thumbnail }}');"></div>
				<div class="bottom-fade"></div>
				<span class="disqus-comment-count" data-disqus-identifier="article-{{ article.id }}"></span>
			</div>
			<div class="details">
				<div class="type">
					<div class="tab">
					</div>
					<div class="colorbar">
						<div class="icon">
							<i class="fi-microphone"></i>
						</div>
					</div>
				</div>
				<h1>CoreCast: {{ article.title }}</h1>
				<h2>episode {{ article.meta1 }}</h2>
			</div>
			<div class="footer no-select">
				<span class="timeago" datetime="{{ article.created.date }}" title="{{ article.created.date }}"></span>
			</div>
		</a>
	</div>
</div>
{#}
<div class="medium-4 columns panel content-card card-podcast cardset tighten hidden" data-fortis-id="{{ article.id }}">
	<div class="inner card-shadow">
		<a class="card-action" href="{{ article.getWeblink() }}" data-title="{{ article.title }}">
			<div class="image">
				{#}<div class="image-fallback"></div>{#}
				<div class="image-cover" data-img="{{ article.thumbnail }}"></div>
				<div class="top-fade"></div>
				<div class="bottom-fade"></div>
				<div class="top">
					<div class="podcast-logo"></div>
					<h1>{{ article.meta3 }}</h1>
					<h2>ep{{ article.meta1 }}</h2>
					<span class="disqus-comment-count" data-disqus-identifier="article-{{ article.id }}"></span>
				</div>
				<div class="bottom">
					<h1>{{ article.title|raw }}</h1>
				</div>
				<div class="footer no-select">
					<span class="timeago" datetime="{{ article.created.date }}" title="{{ article.created.date }}"></span>
				</div>
			</div>
		</a>
	</div>
</div>