{% extends 'base.html.twig' %}
{% block title %}
	Fortis Core Community
{% endblock %}
{% block body %}
	{% include('navbar/main.twig') with {
		spotlightData: {
			overrideTitle: 'Follow Us'
		},
		activeNav: 'community'
	} %}

	<div class="full-screen-canvas">
		<div class="canvas-page page with-margin deep-shadow">
		</div>
		<div class="load-indicator">
			<div class="icon"></div>
		</div>
	</div>
	<div class="effects full-screen-blocker"></div>
	<div class="page">
		<div class="page-label light-shadow no-select">
			<h1><i class="fi-heart"></i> Join Our Community</h1>
		</div>
		<div class="page-constraint">
			<div class="content">
				<div class="content-inner">
					<div class="row">
						<div class="large-12 medium-12 small-12 columns">
						<!-- BEGIN CONTENT -->
						<div class="row small-up-2 medium-up-3 large-up-4">
							<!--
							<div class="medium-4 columns panel social-media-card cardset tighten">
								<div class="patreon inner card-shadow">
									<a href="https://www.patreon.com/fortiscore?ty=h" target="_blank">
										<div class="image">
											<img src="../../assets/img/community-patreon.png" />
										</div>
										<div class="details">
											<h1>Support Us On Patreon</h1>
											{#}<h2>Join The Discussion</h2>{#}
										</div>
									</a>
								</div>
							</div>
							-->
							<div class="medium-4 columns panel social-media-card cardset tighten">
								<div class="discord inner card-shadow">
									<a href="https://discord.gg/0n90WMOk9JSN1T7M" target="_blank">
										<div class="image">
											<img src="../../assets/img/community-discord.png" />
										</div>
										<div class="details">
											<h1>Join Our Chat Server</h1>
											{#}<h2>Join The Discussion</h2>{#}
										</div>
									</a>
								</div>
							</div>
							<div class="medium-4 columns panel social-media-card cardset tighten">
								<div class="facebook inner card-shadow">
									<a href="https://www.facebook.com/fortiscore" target="_blank">
										<div class="image">
											<img src="../../assets/img/community-facebook.png" />
										</div>
										<div class="details">
											<h1>Follow Us On Facebook</h1>
											{#}<h2>View our page</h2>{#}
										</div>
									</a>
								</div>
							</div>
							<div class="medium-4 columns panel social-media-card cardset tighten">
								<div class="twitter inner card-shadow">
									<a href="https://twitter.com/fortiscore" target="_blank">
										<div class="image">
											<img src="../../assets/img/community-twitter.png" />
										</div>
										<div class="details">
											<h1>Follow Us On Twitter</h1>
											{#}<h2>Follow Us On Twitter</h2>{#}
										</div>
									</a>
								</div>
							</div>
							<div class="medium-4 columns panel social-media-card cardset tighten">
								<div class="youtube inner card-shadow">
									<a href="https://gaming.youtube.com/channel/UCxv8P7p8KHLVp4qTqAp01uA#tab=1" target="_blank">
										<div class="image">
											<img src="../../assets/img/community-youtube.png" />
										</div>
										<div class="details">
											<h1>Videos &amp; Live Streams!</h1>
											{#}<h2>Watch Our Videos</h2>{#}
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% include('pager/rtt.html.twig') %}
{% endblock %}
