{% extends 'base.html.twig' %}
{% block title %}
	Fortis Core Podcast
{% endblock %}
{% block body %}
	{% include('navbar/main.twig') with {
		spotlightData: {
			overrideTitle: 'Podcast'
		},
		activeNav: 'podcast'
	} %}
	<div class="full-screen-canvas">
		<div class="canvas-page page with-margin deep-shadow">
		</div>
		<div class="load-indicator">
			<div class="icon"></div>
		</div>
	</div>
	<div class="effects full-screen-blocker"></div>
	<div class="page">
		<div class="page-label light-shadow no-select">
			<h1><i class="fi-microphone"></i> Fortis Core CoreCast</h1>
			<div class="page-controls clearfix">
				<div class="page-constraint">
					<div class="float-right clearfix">
						<!--
						<a class="button small soundcloud rounded" href="https://soundcloud.com/fortis-core" target="_blank"><i class="fi-cloud"></i> Soundcloud</a>
						<a class="button small itunes rounded" href="https://itunes.apple.com/us/podcast/fortis-core-corecast/id1091981969?mt=2" target="_blank"><i class="fi-social-apple"></i> iTunes</a>
						<a class="button small tunein rounded" href="http://tunein.com/radio/Fortis-Core-CoreCast-p841465/" target="_blank"><i class="fi-music"></i> TuneIn Radio</a>
						<a class="button small stitcher rounded" href="http://www.stitcher.com/podcast/fortis-core-corecast" target="_blank"><i class="fi-music"></i> Stitcher Radio</a>
						-->
						<a class="button small rss rounded" href="http://feeds.soundcloud.com/users/soundcloud:users:173107883/sounds.rss" target="_blank"><i class="fi-rss"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="page-constraint">
			<div class="content">
				<div class="content-inner">
					<div class="row">
						{% include('pager/scroll.top.html.twig') with {
				            page        : page,
				            total_pages : total_pages,
				            web_dir     : web_dir,
				            filter      : filter,

							leftOffLabel: '<i class="icon fi-bookmark"></i> You are browsing the archive',
							startLabel  : '<i class="fi-loop"></i> Start Over',

				            container   : '#article-entry-point',
				            label       : '<i class="fi-arrow-up"></i> Show More Recent',
				            loadingLabel: '<i class="fi-refresh"></i> Getting More...',
				            finishLabel : '<i class="fi-check"></i> All caught up!'
						}%}
						<div class="large-12 medium-12 small-12 columns">
							<div id="article-entry-point" class="row small-up-2 medium-up-3 large-up-4" data-equalizer>
								{% for article in articles.results %}
									{% include('card/_types.card.twig') with {article: article} %}
								{% endfor %}
							</div>
						</div>
						{% include('pager/scroll.bottom.html.twig') with {
				            page        : page,
				            total_pages : total_pages,
				            web_dir     : web_dir,
				            filter      : filter,

				            container   : '#article-entry-point',
				            label       : '<i class="fi-arrow-down"></i> Show Older Content',
				            loadingLabel: '<i class="fi-refresh"></i> Getting More...',
				            finishLabel : '<i class="fi-check"></i> All caught up!',
				            
				            newlabel       : '<i class="fi-arrow-up"></i> Show More Recent',
				            newloadingLabel: '<i class="fi-refresh"></i> Getting More...',
				            newfinishLabel : '<i class="fi-check"></i> All caught up!',
						}%}
					</div>
				</div>
			</div>
		</div>
	</div>
	{% include('pager/rtt.html.twig') %}
{% endblock %}
