<html>
	<head>
		<title>Fortis Popout Player</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
        <meta name="theme-color" content="#1E2124"/>
		<style type="text/css">
			html, body {
				padding:0;
				border:0;
				margin:0;
			}

			iframe {
				border:0;
				min-width:100%;
				min-height:100%;
				position:absolute;
				top:0; right:0; bottom:0; left:0;
			}
		</style>
	</head>
	<body>
		<iframe class="embed-soundcloud" src="https://w.soundcloud.com/player/?url=https://api.soundcloud.com/tracks/{{ soundcloud_id }}?auto_play=true&amp;hide_related=true&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=true" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"></iframe>
	</body>
</html>