{% extends 'base.html.twig' %}
{% block meta %}
	<link rel="alternate" type="application/rss+xml" title="Fortis Core RSS" href="/rss/{{ filter }}" />
{% endblock %}
{% block title %}
	Fortis Core Videos
{% endblock %}
{% block body %}
	{% include('navbar/main.twig') with {
		spotlightData: {
			overrideTitle: 'Videos'
		},
		activeNav: 'videos'
	} %}
	<div class="full-screen-canvas">
		<div class="canvas-page page with-margin deep-shadow">
		</div>
		<div class="load-indicator">
			<div class="icon"></div>
		</div>
	</div>
	<div class="effects full-screen-blocker"></div>
	<div class="page">
		<div class="page-label light-shadow no-select">
			<h1><i class="fi-play"></i> Roll That Beautiful Footage</h1>
			<div class="page-controls clearfix">
				<div class="page-constraint">
					<div class="float-right clearfix">
						<a class="button small rss rounded" href="/rss/{{ filter }}"><i class="fi-rss"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="page-constraint">
			<div class="content">
				<div class="content-inner">
					<div class="row">
						{% include('pager/scroll.top.html.twig') with {
				            page        : page,
				            total_pages : total_pages,
				            web_dir     : web_dir,
				            filter      : filter,

							leftOffLabel: '<i class="icon fi-bookmark"></i> You are browsing the archive',
							startLabel  : '<i class="fi-loop"></i> Start Over',

				            container   : '#article-entry-point',
				            label       : '<i class="fi-arrow-up"></i> Show More Recent',
				            loadingLabel: '<i class="fi-refresh"></i> Getting More...',
				            finishLabel : '<i class="fi-check"></i> All caught up!'
						}%}
						<div class="large-12 medium-12 small-12 columns">
							<div id="article-entry-point" class="row small-up-2 medium-up-3 large-up-4" data-equalizer>
								{% for article in articles.results %}
									{% include('card/_types.card.twig') with {article: article} %}
								{% endfor %}
							</div>
						</div>
						{% include('pager/scroll.bottom.html.twig') with {
				            page        : page,
				            total_pages : total_pages,
				            web_dir     : web_dir,
				            filter      : filter,

				            container   : '#article-entry-point',
				            label       : '<i class="fi-arrow-down"></i> Show Older Content',
				            loadingLabel: '<i class="fi-refresh"></i> Getting More...',
				            finishLabel : '<i class="fi-check"></i> All caught up!',
				            
				            newlabel       : '<i class="fi-arrow-up"></i> Show More Recent',
				            newloadingLabel: '<i class="fi-refresh"></i> Getting More...',
				            newfinishLabel : '<i class="fi-check"></i> All caught up!',
						}%}
					</div>
				</div>
			</div>
		</div>
	</div>
	{% include('pager/rtt.html.twig') %}
{% endblock %}
