body, html {
	padding:0;
	margin:0;
}

::selection {
  background: #ffcaa5; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffcaa5; /* Gecko Browsers */
}

* {
    -webkit-tap-highlight-color: rgba(255, 95, 0, 0) !important;
    -webkit-focus-ring-color: rgba(255, 95, 0, 0) !important;
    outline: none !important;
}

body {
	background-color:#818181;
	background-image:url('../../assets/img/page-bg.png');
}

.blackout {
	display:none;
	z-index:49;
	position:fixed;
	top:0; left:0; right:0; bottom:0;
	min-height:100%;
	background-color:rgba(0,0,0,0.4);
} .blackout.show {
	display:block;
}

.return-to-top {
	display:none;
	cursor:pointer;
	position:fixed;
	bottom:5px; right:5px;
	width:63px; height:54px;
	background-image:url('../../assets/img/rtt.png');
	background-position:center;
	background-repeat:no-repeat;
}

.app-sidebar {
	z-index:50;
	width:0px;
	overflow-y:auto;
	position:fixed;
	top:43px;
	left:0;
	bottom:0;
	height:100vh;
    background-image:url('../../assets/img/nav-bg.png');
	padding-bottom:80px;
	text-transform:uppercase;
} .app-sidebar.open {
	width:80%;
	float:left;
}

 .app-sidebar ul {
	display:block;
} .app-sidebar ul li {
	display:block;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);
	border-bottom:1px solid #0b0b0b;
	border-top:1px solid #1a1a1a;
} .app-sidebar ul li a:link, .app-sidebar ul li a:visited {
	padding-left:15px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;
	display:block;
	color:#afafaf;
	background-color:rgba(255,255,255,0.02);
} .app-sidebar ul li.current a:link, .app-sidebar ul li.current a:visited {
	color:#fe5f00;
} .app-sidebar ul li a:hover, .app-sidebar ul li.current a:hover {
	color:#ffffff;
	background-image:url('../../assets/img/header-mobile-bg.png');
}

/* HELPERS ------------------------------
---------------------------------------*/
/* constraints */
.page-constraint {
	margin:auto;
	max-width:1258px;
	width:92%;
}

/* effects */
.no-padding {
	padding:0;
}
.shadow {
	-webkit-box-shadow: 0px 0px 36px 1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 0px 36px 1px rgba(0,0,0,0.20);
	box-shadow: 0px 0px 36px 1px rgba(0,0,0,0.20);
}
.light-shadow {
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
}
.deep-shadow {
	-webkit-box-shadow: 0px 0px 36px 1px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 36px 1px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 36px 1px rgba(0,0,0,0.4);
}

.columns.tighten {
	padding-left:0.5em;
	padding-right:0.5em;
	padding-top:1em;
}

.no-select {
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.page-header {
	position:relative;
	margin:0;
	padding:0;
	padding-top:10px;
	background-color:#d0681b;
	background-image:url('../../assets/img/header-mobile-bg.png');
} .page-header .inner {
	position:relative;
	background-color:#ac4c01;
	background-image:url('../../assets/img/header-mobile-dark-bg.png');
	overflow:hidden;
} .page-header .recent-icon {
	position:absolute;
	top:0px; left:25px;
	bottom:0px;
	width:46px;
	background-image:url('../../assets/img/recent-icon.png');
	background-position:left center;
	background-repeat:no-repeat;
} .page-header h1, .page-header h1 a:link, .page-header h1 a:visited {
	position:relative;
	padding-left:20px;
	padding-right:20px;
	padding-top:5px;
	padding-bottom:0px;
	color:#dddddd;
	font-family:Georgia, serif;
	font-size:1em;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);
} .page-header.with-icon h1, .page-header.with-icon h1 a:link, .page-header.with-icon h1 a:visited {
	padding-left:80px;
}

.effect-digitize {
	opacity:0.25;
	position:absolute;
	top:0;left:0;right:0;bottom:0;
	background-image:url('../../assets/img/pattern-dot.png');
}

/* ELEMENTS -----------------------------
---------------------------------------*/
/* navigation bar */
.nav-spacer, .navbar {
	height:43px;
}
.navbar {
	z-index:1000;
	position:fixed;
	top:0; left:0; right:0;
	margin:auto;
	background-color:#121212;
	color:#afafaf;
	font:0.8em Arial, Helvetica, "Sans-Serif";
	text-transform:uppercase;
	background-image:url('../../assets/img/nav-bg.png');
	overflow:visible;
} .navbar .page-constraint {
	position:relative;
	height:58px;
	background-color:#1b1b1b;
	background-image:url('../../assets/img/nav-constraint-bg.png');
	border-bottom:1px solid #333333;
} .navbar .page-constraint h6 {
	display:none;
} .navbar .page-constraint .logo {
	float:left;
	width:153px;
	height:100%;
	background-image:url("../../assets/img/logo-gold.png");
	background-position:center;
	background-repeat:no-repeat;
	border-right:1px solid #101010;
} .navbar .page-constraint .logo-mini {
	position:relative;
	float:left;
	width:126px;
	height:100%;
	background-image:url("../../assets/img/logo-mini-gold.png");
	background-position:center;
	background-repeat:no-repeat;
} .navbar .page-constraint .app-menu-icon {
	cursor:pointer;
	float:left;
	width:50px;
	height:100%;
	padding-left:15px;
	background-image:url("../../assets/img/app-menu-icon-gray.png");
	background-repeat:no-repeat;
	background-position:center;
} .navbar .page-constraint ul {
	display:block;
	float:left;
	background-color:rgba(255,255,255,0.03);
} .navbar .page-constraint ul li {
	display:block;
	float:left;
	line-height:57px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);
	border-left:1px solid #313131;
	border-right:1px solid #101010;
} .navbar .page-constraint ul li a:link, .navbar .page-constraint ul li a:visited {
	padding-left:15px;
	padding-right:15px;
	display:block;
	color:#afafaf;
} .navbar .page-constraint ul li.current a:link, .navbar .page-constraint ul li.current a:visited {
	color:#fe5f00;
} .navbar .page-constraint ul li a:hover, .navbar .page-constraint ul li.current a:hover {
	color:#ffffff;
	background-image:url('../../assets/img/header-mobile-bg.png');
} .navbar .page-constraint .logo:hover {
	background-color:rgba(255,255,255,0.06);
} .navbar ul.nav-profile {
	background-color:rgba(0,0,0,0);
} .navbar ul.nav-profile li {
	border:0;
	background:none;
} .navbar ul.nav-profile .user-avatar {
	cursor:pointer;
	min-width:30px;
	padding-left:15px;
	padding-right:35px;
	background-position:center;
	background-repeat:no-repeat;
	background-size:30px 30px;
} .navbar ul.nav-profile .user-avatar.not-logged-in {
	padding-right:15px;
	background-image:url('../../assets/img/default-avatar.png');
} .navbar ul.nav-profile:hover .user-avatar.not-logged-in {
	background-image:url('../../assets/img/default-avatar-hover.png');
} .navbar ul.nav-profile .user-dropdown-menu {
	display:none;
	position:absolute;
	top:50%; right:0;
	width:15em;
} .navbar ul.nav-profile:hover .user-dropdown-menu {
	border:2px solid #ffffff;
	background-color:#eeeeee;
	display:block;
	top:100%;
} .navbar ul.nav-profile:hover .user-dropdown-menu:before {
	content: "";
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
    top: -8px;
    right: 18px;
    bottom: auto;
    left: auto;
    border-width: 0 10px 10px;
    border-color: #eeeeee transparent;
} .navbar ul.nav-profile .user-dropdown-menu .icon {
	margin-right:10px;
	font-size:1.2em;
} .navbar ul.nav-profile .user-dropdown-menu li {
	display:block;
	min-width:100%;
} .navbar ul.nav-profile .user-dropdown-menu li a:link, .navbar ul.nav-profile .user-dropdown-menu li a:visited {
	color:#444444;
	text-shadow:none;
	line-height:3.5em;
} .navbar ul.nav-profile .user-dropdown-menu li a:hover {
	color:#d0681b;
	background-image:none;
}

.navbar.collapsed {
	height:43px;
} .navbar.collapsed .page-constraint {
	height:43px;
} .navbar.collapsed .page-constraint ul li {
	line-height:42px;
} .navbar.collapsed .logo, .navbar.shrink .logo {
    background-image:url('../../assets/img/logo-small-gold.png');
    background-position:center;
    background-repeat:no-repeat;
    width:50px;
    height:100%;
} .navbar.shrink {
	font-size:0.7em;
} .navbar.shrink .page-constraint ul li a {
	padding-left:10px;
	padding-right:10px;
}

/* marquee */
.marquee {
	cursor:default;
	position:relative;
	margin:auto;
	height:216px;
	color:#ffffff;
	font:1.5em Georgia, serif;
	background-color:#000000;
} .marquee .page-constraint {
	background-color:#000000;
	height:100%;
} .marquee .page-constraint .inner {
	position:relative;
	margin-left:14px;
	margin-right:14px;
	height:100%;
} .marquee .fader-l {
	position:absolute;
	top:0; bottom:0; left:0;
	width:175px;
	overflow:hidden;
	background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
} .marquee .fader-r {
	position:absolute;
	top:0; bottom:0; right:0;
	width:175px;
	overflow:hidden;
	background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
} .marquee .slide {
	position:absolute;
	top:0; right:0; bottom:0; left:0;
	overflow:hidden;
} .marquee .slide .blurb {
	position:relative;
	padding-left:25px;
	padding-top:40px;
	width:30%;
	min-width:350px;
	max-width:400px;
	height:100%;
	background-color:rgba(0,0,0,0.7);
} .marquee .slide .blurb .fader-i {
	position:absolute;
	top:0; bottom:0; right:-175px;
	width:175px;
	overflow:hidden;
	background: -moz-linear-gradient(left,  rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
} .marquee .slide .image {
	background-position:top right;
	background-size:cover;
	position:absolute;
	top:0; right:0; left:0; bottom:0;
	overflow:hidden;
} .marquee h1 {
	margin:0;
	padding:0;
	color:#ffffff;
	font-size:0.8em;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);
	font-weight:normal;
	text-decoration:none;
} .marquee h2 {
	color:#bbbbbb;
	margin:0;
	margin-top:10px;
	padding:0;
	font-size:0.6em;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);
	font-weight:normal;
	text-decoration:none;
} .marquee .slide.hidden {
	opacity:0;
} .marquee .pager {
	cursor:pointer;
	position:absolute;
	bottom:30px;
	right:20px;
} .marquee .pager .pager-btn {
	width:25px;
	height:12px;
	display:block;
	float:left;
	margin-right:5px;
	border:1px solid rgba(255,255,255,0.4);
	background-color:rgba(0,0,0,0.5);
} .marquee .pager .pager-btn:hover {
	background-color:rgba(255,255,255,0.2);
} .marquee .pager .pager-btn.current {
	background-color:rgba(255,255,255,0.6);
} a .marquee .counter, .marquee .counter, .marquee .counter, .marquee .counter {
	right:5px;
	bottom:25px;
	font:0.6em Arial, Helvetica, "Sans-Serif";
	padding:5px;
	background-color:rgba(0,0,0,0.6);
	border:1px solid rgba(255,255,255,0.4);
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);
	position:absolute; bottom:25px; right:10px;
} .marquee .swipe-indicator {
	opacity:0;
    zoom: 0.8;
    -moz-transform: scale(0.8);
	position:absolute;
	bottom:120px; right:20px;
	width:60px;
	height:60px;
	background-image:url('../../assets/img/swipe-icon.png');
	background-position:center;
	background-repeat:no-repeat;
} .marquee .swipe-indicator.show {
	opacity:1;
} a:link.marquee-click-action, a:visited.marquee-click-action, a:active.marquee-click-action {
	display:none;
	color:#ffffff;
	position:absolute;
	left:24px;
	bottom:30px;
	font:0.6em Arial, Helvetica, "Sans-Serif";
	padding:5px;
	padding-right:25px;
	background-image:url('../../assets/img/marquee-go-button.png');
	background-position:right center;
	background-repeat:no-repeat;
	background-color:rgba(0,0,0,0.6);
	border:1px solid rgba(255,255,255,0.46);
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);
}

/* main page */
.page {
	position:relative;
	margin-bottom:-14px;
	top:-14px;
	color:#000000;
	font:1.0em Georgia, serif;
} .page .page-constraint {
	position:relative;
	background-color:#c4c4c4;
} .page .page-constraint .content {
	position:relative;
} .page-constraint .content .content-inner {
	padding:0em 0.7em;
	padding-bottom:1em;
	position:relative;
} .page-constraint .content .inset {
	background-color:#ababab;
	border:1px solid #b4b4b4;
	-webkit-box-shadow: inset 0px 1px 5px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0px 1px 5px 0px rgba(0,0,0,0.1);
	box-shadow: inset 0px 1px 5px 0px rgba(0,0,0,0.1);
} .space-after {
	margin-bottom:15px;
} .profile-content {
	padding-top:15px;
	padding-bottom:15px;
	background-color:#dddddd;
}

.paginator {
	margin-top:1em;
} .paginator .button {
	border-left:0 !important;
	border-right:0 !important;
	margin-right:2px;
	margin-bottom:2px;
	min-width:3em;
} .paginator .indicator {
	opacity:0.5;
} .paginator .button i {
	margin:0;
}

/* content-cards */
.content-card {
	position:relative;
	top:0em;
} .content-card .inner {
	background-color:#f2f2f2;
} .content-card .image {
	position:relative;
	display:block;
	overflow:hidden;
	height:10em;
} .content-card .image .image-cover {
	position:absolute;
	top:0; left:0; right:0; bottom:0;
	background-size:cover;
	background-position:center;
} .content-card .image .image-fallback {
	position:absolute;
	top:0; left:0; right:0; bottom:0;
	background-size:cover;
	background-position:center;
	background-image:url('../../assets/img/default-article-thumbnail.png?v=2');
} .content-card .details {
	padding:0.4em 0.4em 0.4em 0.4em;
	font-weight:bold;
} .content-card .details h1 {
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
	font-size:1.03em;
	line-height:1.2em;
	margin:0;
	padding:0;
} .content-card a:hover .details h1 {
	color:#d0681b;
} .content-card .details h2 {
	line-height:1.8em;
	font-size:0.72em;
	font-style:italic;
	color:#858585;
	margin:0;
	padding:0;
} .content-card .bottom {
	padding: 0em 0.7em 0.2em 0.7em;
    line-height: 2em;
	font-family:"Bree Serif", serif;
	font-style:italic;
	font-size:0.7em;
	color:#858585;
	background-color:#e5e5e5;
	border-top:1px solid #c9c9c9;
} .content-card.hidden {
	top:3em;
	opacity:0;
} .cards-force-shown .hidden {
	top:0em;
	opacity:1;
}

.content-card .inner {
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
} .content-card .image-fallback, .content-card .image-cover {
	border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
} .content-card .bottom {
	border-radius: 0px 0px 3px 3px;
	-moz-border-radius: 0px 0px 3px 3px;
	-webkit-border-radius: 0px 0px 3px 3px;
}

.content-card .inner.active {
	position:relative;
	top:-2px;
	border: 2px solid #f9832c;
	border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
}

hr {
	width:100%;
	margin-top:35px;
	margin-bottom:18px;
	border:none;
	border-top:1px solid #aaaaaa;
	border-bottom:1px solid #dddddd;
	color:#000000;
	background-color:#000000;
}

.sidebar {
	padding-left:10px;
	padding-right:0px;
	font-family:Arial, Helvetica, "Sans-Serif";
}
/* social card */
.social-card {
	padding:20px;
	background-image:url('../../assets/img/footer-bg.png');
	background-color:#232323;
	color:#888888;
	min-height:376px;
}

.load-more-container .button, .load-newer-container .button {
	margin-top:1.5em;
}


hr.scroll-divider {
	opacity:0;
    padding-top: 0em;
    margin: auto;
    padding-bottom: 0em;
    border: 0;
    border-bottom: 1px solid #bbbbbb;
}


/* footer */
.footer {
	position:relative;
	margin:auto;
	color:#afafaf;
	font:0.9em Arial, Helvetica, "Sans-Serif";
	overflow:visible;
} .footer .page-constraint {
	position:relative;
	min-height:50px;
	background-color:#262626;
	background-image:url('../../assets/img/footer-bg.png');
	padding-top:20px;
	padding-bottom:20px;
} .footer .footer-logo {
	width:183px;
	height:154px;
	background-image:url('../../assets/img/footer-logo.png');
	background-position:center;
	background-repeat:no-repeat;
}

/* BREAKPOINT OVERRIDES -----------------
---------------------------------------*/
/* small */
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
	.page-constraint {
  		width:100%;
  		max-width:100%;
	}
	.marquee .fader-i, .marquee .fader-l, .marquee .fader-r {
		display:none;
	}
	.marquee .slide .blurb {
		position:absolute;
		top:0px; left:0; right:0;
		height:auto;
		padding:5px;
		padding-left:15px;
		padding-right:15px;
		min-width:100%;
		background-color:rgba(0,0,0,0.7);
		font-size:0.8em;
	}
	.marquee .page-constraint .inner {
		margin:0;
	}
	.marquee .slide .image {
		background-position:75% 25%;
		background-size:cover;
		position:absolute;
		top:0; right:0; left:0; bottom:0;
		overflow:hidden;
	} a:link.marquee-click-action, a:visited.marquee-click-action {
		left:10px;
		bottom:25px;
	}


	.page-header {
		color:#ffffff;
	} .page-header .icon {
		left:2px;
	} .page-header h1 {
		padding-left:10px;
		padding-right:10px;
	} .page-header.with-icon h1 {
		padding-left:55px;
	}

	.page .page-constraint .content-inner {
		padding:0;
	}

	.content-card .image {
		height:14em !important;
	}
	.social-card {
		min-height:auto;
	}
	.sidebar {
		padding-left:0px;
		padding-bottom:0px;
	}
}

/* medium */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	.marquee .fader-i {
		opacity:0.65;
	}
	.marquee .slide .blurb {
		background-color:rgba(0,0,0,0.45);
	}
	.marquee .slide .image {
		background-position:75% 25%;
		background-size:cover;
		position:absolute;
		top:0; right:0; left:0; bottom:0;
		overflow:hidden;
	}

	.content-card .image {
		height:10em !important;
	}
}

/* BROKEN FROM FOUNDATION ---------------
---------------------------------------*/
.button-group {
	margin:0;
} .button-group.toolbar {
	background-image:url('../../assets/img/footer-bg.png');
	background-color:#333333;
	padding:10px;
} .row {
	max-width:inherit;
}

.button {
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
	font-family:Arial, Helvetica, "Sans-Serif";
	background-color:#2199e8;
	color:#ffffff;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
} .button:hover, .button:focus {
	color:#ffffff;
	background-color:#1585cf;
} .button.warning {
	color:#ffffff;
	background-color:#ffae00;
} .button.warning:hover, .button.warning:focus {
	color:#ffffff;
	background-color:#cc8b00;
} .button.alert {
	color:#ffffff;
	background-color:#ec5840;
} .button.alert:hover, .button.alert:focus {
	color:#ffffff;
	background-color:#da3116;
} .button.success {
	color:#ffffff;
	background-color:#3adb76;
} .button.success:hover, .button.success:focus {
	color:#ffffff;
	background-color:#22bb5b;
} .button.secondary {
	color:#ffffff;
	background-color:#777777;
} .button.secondary:hover, .button.secondary:focus {
	color:#ffffff;
	background-color:#5f5f5f;
} .button.primary {
	color:#ffffff;
	background-color:#f9832c;
} .button.primary:hover, .button.primary:focus {
	color:#ffffff;
	background-color:#df6e13;
} .button.disabled {
	color:#ffffff;
	background-color:#555555;
} .button i {
	margin-right:5px;
} a:link, a:visited {
	word-wrap:break-word;
}

i.icon {
	margin-right:0.3em;
}

@media screen and (min-width: 0em) and (max-width: 39.9375em) {
  .hide-for-small-only {
    display: none !important; } }

@media screen and (max-width: 0em), screen and (min-width: 40em) {
  .show-for-small-only {
    display: none !important; } }

@media screen and (min-width: 40em) {
  .hide-for-medium {
    display: none !important; } }

@media screen and (max-width: 39.9375em) {
  .show-for-medium {
    display: none !important; } }

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .hide-for-medium-only {
    display: none !important; } }

@media screen and (max-width: 39.9375em), screen and (min-width: 64em) {
  .show-for-medium-only {
    display: none !important; } }

@media screen and (min-width: 64em) {
  .hide-for-large {
    display: none !important; } }

@media screen and (max-width: 63.9375em) {
  .show-for-large {
    display: none !important; } }

@media screen and (min-width: 64em) and (max-width: 74.9375em) {
  .hide-for-large-only {
    display: none !important; } }

@media screen and (max-width: 63.9375em), screen and (min-width: 75em) {
  .show-for-large-only {
    display: none !important; } }

/* ANIMATIONS ---------------------------
---------------------------------------*/
.app-sidebar {
	-webkit-transform: translateZ(0);
	-webkit-transition: width 0.1s ease; /* Safari */
    transition: width 0.1s ease;
}

.content-card .details h1 {
	-webkit-transform: translateZ(0);
	-webkit-transition: color 0.2s; /* Safari */
    transition: color 0.2s;
}

.animate .navbar .page-constraint {	
	-webkit-transform: translateZ(0);
	-webkit-transition: height 0.2s; /* Safari */
    transition: height 0.2s;
} .animate .navbar .page-constraint .logo {
	-webkit-transform: translateZ(0);
	-webkit-transition: width 0.2s; /* Safari */
    transition: width 0.2s;
} .animate .navbar.shrink .page-constraint ul li a {
	-webkit-transform: translateZ(0);
	-webkit-transition: padding 0.2s, font-size 0.2s; /* Safari */
    transition: padding 0.2s, font-size 0.2s;
}

.animate .marquee .slide {
	-webkit-transform: translateZ(0);
	-webkit-transition: opacity 1s; /* Safari */
    transition: opacity 1s;
} .marquee .swipe-indicator {
	display:none;
	/*
	-webkit-transform: translateZ(0);
	-webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
    */
}

.animate .content-card {
	-webkit-transform: translateZ(0);
	-webkit-transition: top 0.3s, opacity 0.3s; /* Safari */
    transition: top 0.3s, opacity 0.3s;
}

/* MODALS -------------------------------
---------------------------------------*/
.login-header {
	background-color:#222222;
	min-height:50px;
	line-height:50px;
	color:#f9832c;
	border-bottom:4px solid #f9832c;
	background-image:url('../../assets/img/login-header-logo.png');
	background-position:center center;
	background-repeat:no-repeat;
}

#login-register-modal a[href^="/login"] {
	display:none;
} #login-register-modal .tabs-panel {
	padding-top:0;
} #login-register-modal label[for="fos_user_registration_form_plainPassword_second"], #login-register-modal #fos_user_registration_form_plainPassword_second {
	display:none;
} #login-register-modal .tabs {
} #login-register-modal a[role="tab"] {
	color:#777777;
	background-color:#ffffff;
} #login-register-modal a[aria-selected="true"] {
	color:#f9832c;
	background-color:#ffffff;
} #login-register-modal .alert.callout, #login-register-modal .success.callout {
	font-size:0.8em;
	padding:5px;
	margin-bottom:4px;
}

.byline {
	background-color:#dddddd;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
	padding:1em;
	border-bottom:1px solid #aaaaaa;
	margin-top:0.7em;
} .byline h4 {
	font-family:Georgia, serif;
} .byline h4, .byline h6 {
	color:#333333;
} .byline h6.nudge {
	padding-left:0.5em;
} .byline h6.sub {
	color:#5f5f5f;
	padding-left:0;
	margin-bottom:1em;
} .byline .sub {
	color:#888888;
}

.comments-container, .share-container {
	background-color:#dddddd;
	padding:1em;
	border-top:1px solid #aaaaaa;
} .comments-container {
	margin-top:15px;
} .share-container {
	padding-bottom:0;
}

.article-container {
	color:#444444;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
	background-color:#e5e5e5;
    font-size: 1em;
    line-height: 1.6em;
    padding:2em;
} .article-container span, .article-container i, .article-container b {
	color:inherit !important;
} .article-container a:link, .article-container a:visited {
	color:#c15819;
} .article-container a:hover {
	color:#d66a1b;
	text-decoration:underline;
} .article-container dl, .article-container ol, .article-container ul {
	margin-left:1.5em;
}

.article-edit-bar {
	margin-bottom:-20px;
	text-shadow:none;
}

img.posted-by-avatar {
	position:relative;
	top:-2px;
}

.load-more-container {
	margin-top:2em;
} .load-less-container {

} .load-less-container span.disabled {
	opacity:1;
} .load-less-container.sticky {
    position: fixed;
    background-color: #333333;
    z-index: 5000;
} .load-less-container .button {
	margin:0 !important;
}

.share-label {
	cursor:default;
	color:#aaaaaa !important;
	position:relative;
	top:-0.3em;
	text-transform:uppercase;
} .share-label i {
	position:relative;
	top:2px;
	margin-right:0.2em;
}

/* CONTROL PANEL ------------------------
---------------------------------------*/
.jarvis .page-header {
	background-color:#d01b32;
	background-image:url('../../assets/img/header-mobile-jarvis-bg.png');
} .jarvis .page-header .inner {
	background-color:#8b1120;
	background-image:url('../../assets/img/header-mobile-jarvis-dark-bg.png');
} .jarvis .page-header h1, .jarvis .page-header h1 a:link, .jarvis .page-header h1 a:visited {
	padding-left:10px;
}

.jarvis .nav-card {
	position:relative;
	margin-top:10px;
} .jarvis .nav-card .inner {
	font-family: Arial, Helvetica, "Sans-Serif";
	background-color:#d6d6d6;
	border:1px solid #999999;
} .jarvis .nav-card .inner {
	padding:15px;
} .jarvis .nav-card a:link, .jarvis .nav-card a:visited {
	color:#454545;
} .jarvis .nav-card a:hover .inner {
	color:#8b1120;
	background:#dddddd;
} .jarvis .nav-card .inner .nav {
	padding-left:40px;
	background-position:left center;
	background-repeat:no-repeat;
	line-height:22px;
} .jarvis .nav-card .inner .nav-marquee {
	background-image:url('../../assets/img/jarvis-marquee.png');
} .jarvis .nav-card .inner .nav-articles {
	background-image:url('../../assets/img/jarvis-articles.png');
}

.jarvis.navbar .page-constraint ul li.current a:link, .jarvis.navbar .page-constraint ul li.current a:visited {
	color:#ff4254;
} .jarvis.navbar .page-constraint ul li a:hover, .jarvis.navbar .page-constraint ul li.current a:hover {
	color:#ffffff;
	background-image:url('../../assets/img/header-mobile-jarvis-bg.png');
} .jarvis.navbar .page-constraint .logo {
	background-image:url("../../assets/img/logo-jarvis.png");
} .jarvis.navbar .page-constraint .logo-mini {
	background-image:url("../../assets/img/logo-mini-jarvis.png");
} .jarvis.navbar.collapsed .logo, .jarvis.navbar.shrink .logo {
    background-image:url('../../assets/img/logo-small-jarvis.png');
} .jarvis.navbar ul.nav-profile .user-dropdown-menu li a:hover {
	color:#d01b32;
	background-image:none;
}

.jarvis.app-sidebar ul li a:link, .jarvis.app-sidebar ul li a:visited {
	padding-left:15px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;
	display:block;
	color:#afafaf;
	background-color:rgba(255,255,255,0.02);
} .jarvis.app-sidebar ul li.current a:link, .jarvis.app-sidebar ul li.current a:visited {
	color:#ff4254;
} .jarvis.app-sidebar ul li a:hover, .jarvis.app-sidebar ul li.current a:hover {
	color:#ffffff;
	background-image:url('../../assets/img/header-mobile-jarvis-bg.png');
}

.jarvis .list-entry {
	padding:10px;
	margin-top:10px;
	margin-bottom:10px;
	background-color:#e4e4e4;
	border:1px solid #999999;
} .jarvis .list-entry .dark-panel {
	padding:5px;
	background-color:#888888;
	color:#ffffff;
} .jarvis .list-entry .light-panel {
	padding:10px;
	background-color:#f0f0f0;
	color:#555555;
	font-family:Arial, Helvetica, "Sans-Serif";
} .jarvis .list-entry .inner {
	border:1px solid #888888;
	background-color:#f0f0f0;
}

.jarvis.button {
	background:#8b1120;
} .jarvis.button:hover {
	background:#ff4254;
}

/* FONT OVERRIDES -----------------------
---------------------------------------*/
.app-sidebar, .navbar .page-constraint ul li a:link, .navbar .page-constraint ul li a:visited, p, .article-container, .editor.ql-container, .markdown-toolbar, textarea#article-body {
	font-family: 'Noto Sans', sans-serif !important;
}

textarea#article-body {
	padding:1em;
	color:#555555;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Bree Serif', serif !important;
}

.content-card p {
	font-size:0.9em !important;
}

pre {
	background-color:#f2f2f2;
	padding:0.5em;
	border:1px solid #cccccc;
	margin-bottom:1em;
	font-family: 'Oxygen Mono';
}
code {
	border:0;
	padding:0;
	background:none;
	color: #777777;
    font-size: 1em;
}

blockquote {
	border-left: 0.5em solid #cccccc;
	padding-top:0;
} blockquote h1, blockquote h2, blockquote h3,blockquote h4, blockquote h5, blockquote h6 {
	color:#999999;
}