{% extends 'base.html.twig' %}

{% block body %}
{% if article is defined %}
	{% set editing = true %}
{% else %}
	{% set editing = false %}
{% endif %}
<style type="text/css">
	.buttons {
		margin-top:10px;
		float:right;
	} .buttons button {
		padding:5px;
	}
	.style-input {
		width:100%;
		margin-bottom:15px;
	} .disabled.style-input {
		color:#999999;
	}

	.markdown-toolbar {
		color:#777777;
		border-bottom:1px solid #dddddd;
		background:#ffffff;
		line-height:1.5em;
		font-size:0.8em;
		padding:0.5em;
		padding-left:0.7em;
		padding-right:0.7em;
	} .markdown-toolbar a:link, .markdown-toolbar a:visited {
		color:#c15819;
	} .markdown-toolbar a:hover {
		color:#d66a1b;
		text-decoration:underline;
	} .markdown-toolbar img {
		position:relative;
		top:-1px;
		height:1em;
		opacity:0.5;
		margin-right:0.2em;
	}

	#article-body {
		-webkit-border-top-left-radius: 0px;
		-webkit-border-top-right-radius: 0px;
		-moz-border-radius-topleft: 0px;
		-moz-border-radius-topright: 0px;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		border:0 !important;
		box-shadow:none !important;
		line-height:1.5em;
		resize: none;
	}

	textarea.style-input {
		min-height:250px;
	}

</style>
{% include('navbar/main.twig')  with {
	panelView: 'mini'
} %}
<div class="effects full-screen-blocker"></div>
<div class="effects full-screen-canvas scroll-lock">
	<div class="canvas-page deep-shadow">
	</div>
</div>
	<div class="page with-margin">
		<div class="content-constraint light-shadow">
			<div>
				<div class="content-inner">
					<div class="content-area">
						<div class="content-headers">
							{% if editing %}
								<h1>Edit Content</h1>
							{% else %}
								<h1>Create New Content</h1>
							{% endif %}
						</div>
						<div class="article-container">
							<div id="article-edit-container">
								<span class="input-label">Content-Type:</span>
								<select id="article-type">
									<option value="article"{% if editing and article.type == 'article' %} selected="selected"{% endif %}>Article</option>
									<option value="news"{% if editing and article.type == 'news' %} selected="selected"{% endif %}>News</option>
									<option value="video"{% if editing and article.type == 'video' %} selected="selected"{% endif %}>Video</option>
									<option value="review"{% if editing and article.type == 'review' %} selected="selected"{% endif %}>Review (Written)</option>
									<option value="review-video"{% if editing and article.type == 'review-video' %} selected="selected"{% endif %}>Review (Video/Vlog)</option>

									{% if is_granted('ROLE_ADMIN') %}
										<option value="podcast"{% if editing and article.type == 'podcast' %} selected="selected"{% endif %}>Podcast</option>
									{% endif %}
								</select>
								<div id="podcastswitch">
									<span class="input-label">Select A Podcast:</span>
									<select id="podcast-name">
										{% for podcast in podcasts %}
											<option value="{{podcast}}"{% if editing and article.meta3 == podcast %} selected="selected"{% endif %}>{{ podcast }}</option>
										{% endfor %}
									</select>
								</div>
								<div id="meta-fields">
									<div id="meta1">
										<span class="input-label field1">Field1:</span>
										<input type="text" class="style-input" id="article-meta1" {% if editing %}value="{{ article.meta1 }}" {% endif %}/>
									</div>
									<div id="meta2">
										<span class="input-label field2">Field2:</span>
										<input type="text" class="style-input" id="article-meta2" {% if editing %}value="{{ article.meta2 }}"{% endif %} />
									</div>
									<div id="meta3">
										<span class="input-label field3">Field3:</span>
										<input type="text" class="style-input" id="article-meta3" {% if editing %}value="{{ article.meta3 }}"{% endif %} />
									</div>
									<div id="reviewswitch"> 
										<span class="input-label">Select A Rating:</span>
										<select id="review-score">
											<option value="1"{% if editing and article.meta1 == 1 %} selected="selected"{% endif %}>Recommended</option>
											<option value="-1"{% if editing and article.meta1 == -1 %} selected="selected"{% endif %}>Not Recommended</option>
											<option value="0"{% if editing and article.meta1 == 0 %} selected="selected"{% endif %}>Somewhere In The Middle</option>
										</select>
									</div>
								</div>
								<span class="input-label">Content Title:</span>
								<input type="text" class="style-input" id="article-title" {% if editing %}value="{{ article.title|raw }}" {% endif %}/>
								<span class="input-label">Thumbnail URL:</span>
								<input type="text" class="style-input" id="article-thumb" {% if editing %}value="{{ article.thumbnail }}"{% endif %} />
								<span class="input-label">Content Body (Markdown)</span>
								<div class="markdown-toolbar clearfix">
									<a href="https://help.github.com/articles/markdown-basics/" target="_blank" class="float-right"><img src="{{ url('index') }}/assets/img/markdown-logo-small.png" /> Styling with markdown is supported </a>
								</div>
								<textarea class="style-input expanding" id="article-body">{% if editing %}{{ article.body }}{% endif %}</textarea>
								<div class="primary button" id="article-submit">{% if editing %}Publish Edits{% else %}Publish{% endif %}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% include('pager/rtt.html.twig') %}
	<script type="text/javascript">
	$(document).ready(function(){
		//autosize
		autosize($('.expanding'));

		//manage content-type swapping
		var updateMetaOptions = function() {
			var contentType = $('#article-type').val();

			$('#meta1').hide();
			$('#meta2').hide();
			$('#meta3').hide();
			$('#reviewswitch').hide();
			$('#podcastswitch').hide();

			if (contentType == 'podcast') {
				$('.field1').html("Episode Number");
				$('.field2').html("Soundcloud Track ID");
				$('#podcastswitch').show();
				$('#meta1').show();
				$('#meta2').show();
			} else if (contentType == 'video') {
				$('.field1').html("Youtube Video URL");
				$('#meta1').show();
			} else if (contentType == 'review') {
				$('#reviewswitch').show();
			} else if (contentType == 'review-video') {
				$('#reviewswitch').show();
				$('.field2').html("Youtube Video URL");
				$('#meta2').show();
			}
		}
		updateMetaOptions();
		$('#article-type').on('change', function() {
			updateMetaOptions();
		});

		//submission override
		$('#article-submit').on('click', function() {
			// post actions --------------------------------
			//----------------------------------------------
			var contentType = $('#article-type').val();

			//clear out hidden meta values
			if (!$('#meta1').is(':visible')) {
				$('#article-meta1').val('');
			}
			if (!$('#meta2').is(':visible')) {
				$('#article-meta2').val('');
			}

			//if we're reviewing, let's populate what the score of what we're reviewing
			if (contentType == 'review' || contentType == 'review-video') {
				$('#article-meta1').val(parseInt($('#review-score').val()));
			}

			//if we're submitting a podcast, let's populate the podcast name we're using
			if (contentType == 'podcast') {
				$('#article-meta3').val($('#podcast-name').val());
			}

			//get values of form
			{% if editing %}
				var data = {
					'type':        $("#article-type").val(),
					'meta1':       $("#article-meta1").val(),
					'meta2':       $("#article-meta2").val(),
					'meta3':       $("#article-meta3").val(),
					'title':       $("#article-title").val(),
					'thumbnail':   $("#article-thumb").val(),
					'body':        $('#article-body').val()
				};

				//send off post command
	            $.ajax({
	                type        : 'PUT',
	                url         : "{{ path('article_update', {'id': article.id}) }}",
	                data        : data,
	                dataType    : "json",
	                success: function(data, status, object) {
	                	if (!data.success) {

	                	} else {
	                		window.location = data.url;
	                	}
	                },
	                error: function(data, status, object){
						
	                }
	            });
			{% else %}
				var data = {
					'type':        $("#article-type").val(),
					'meta1':       $("#article-meta1").val(),
					'meta2':       $("#article-meta2").val(),
					'meta3':       $("#article-meta3").val(),
					'title':       $("#article-title").val(),
					'thumbnail':   $("#article-thumb").val(),
					'body':        $('#article-body').val()
				};

				//send off post command
				var jqxhr = $.post("/article/command/create", data, function() {
				  //alert( "success" );
				}).done(function(data) {
				    //alert( "second success" );
				    if (data && data.url) {
				    	window.location.href = data.url;
				    }
				}).fail(function() {
				    //alert( "error" );
				}).always(function() {
				    //alert( "finished" );
				});
			{% endif %}
		});
	});
	</script>
{% endblock %}