$font-header:  'Passion One', cursive !important;
//$font-header:  'Patua One', cursive !important;
$font-body:    'Noto Sans', sans-serif !important;
$font-mono:    'Oxygen Mono', Monaco, monospace !important;

/* DEFINITIONS ---------------------------
----------------------------------------*/
//constraints
$page-constraint-max:      1200px;
$page-constraint:             92%;
$page-constraint-small:       98%;

$content-constraint-max:    900px;
$content-constraint:         100%;
$content-constraint-small:   100%;

$content-floater-image-width: 250px;

//text
$light-main:         #ffffff;
$light-sub:          #cccccc;
$light-minor:        #727272;

//overal page
$cardhub-bg:         #d9d9d9;
$toolbar-bg:              rgba(30,33,36,1);
$page-bg:            rgba(228,228,228,1.0);
$page-halo-border:   rgba(255,255,255,0.5);

//top panel
$header-bg:          #000000;
$navbar-height:         50px;
$navbar-height-sticky:  50px;
$panel-height:         600px;
$panel-height-medium:  450px;
$panel-height-small:   300px;
$fader-height:         150px;
$fader-height-medium:  100px;
$fader-height-small:    80px;

/* GLOBAL COLORS -------------------------
----------------------------------------*/
$twitter: #00aced;
$facebook: #3b5998;
$googleplus: #dd4b39;
$pinterest: #cb2027;
$linkedin: #007bb6;
$youtube: #bb0000;
$vimeo: #aad450;
$tumblr: #32506d;
$instagram: #517fa4;
$flickr: #ff0084;
$dribbble: #ea4c89;
$quora: #a82400;
$foursquare: #0072b1;
$forrst: #5B9A68;
$vk: #45668e;
$wordpress: #21759b;
$stumbleupon: #EB4823;
$yahoo: #7B0099;
$blogger: #fb8f3d;
$soundcloud: #ff3a00;
$itunes: #3493df;
$rss: #f26522;
$tunein: #36b4a7;
$stitcher: #353535;