/* GLOBAL STYLES -------------------------
----------------------------------------*/
body, html {
	margin:0;
	padding:0;
	background:$cardhub-bg;
}

body {
  min-height:100vh;
  display:flex;
  flex-direction:column;
}

#flex-ie11 {
  display:flex;
  min-height: 100vh;
  flex-direction: column;
}

#flex-body {
  flex-grow:1;
}

h1, h2, h3, h4, h5, h6 {
	font-family:$font-header;
}

pre {
	background-color:#ffffff;
	border:1px solid #dddddd;
	padding:0.5em;
	margin-bottom:0.5em;
}

code {
	border:none;
	padding:0;
	background-color:none;
}

::selection {
  background: #ffcaa5; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffcaa5; /* Gecko Browsers */
}

* {
    -webkit-tap-highlight-color: rgba(255, 95, 0, 0) !important;
    -webkit-focus-ring-color: rgba(255, 95, 0, 0) !important;
    outline: none !important;
}

.no-animate * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}

.page-constraint {
	margin:auto;
	max-width:$page-constraint-max;
	width:$page-constraint;
}

.row {
	max-width:95em;
}

/* effects */
.no-padding {
	padding:0;
}

.shadow {
	-webkit-box-shadow: 0px 0px 36px 1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 0px 36px 1px rgba(0,0,0,0.20);
	box-shadow: 0px 0px 36px 1px rgba(0,0,0,0.20);
}

.light-shadow {
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
}

.card-shadow {
  	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.08), 0 1px 2px rgba(0,0,0,0.08);
  	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.08), 0 1px 2px rgba(0,0,0,0.08);
  	box-shadow: 0 1px 3px rgba(0,0,0,0.08), 0 1px 2px rgba(0,0,0,0.08);
  	transition: all 0.2s ease;

  	/*
	&.active {
		-webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
		-moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	}
	*/
}

.deep-shadow {
	-webkit-box-shadow: 0px 0px 36px 1px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 36px 1px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 36px 1px rgba(0,0,0,0.4);
}

.columns.tighten {
	padding-left:0.5em;
	padding-right:0.5em;
	padding-top:1em;
}

.no-select {
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.effects {
	&.digitize {
		opacity:0.5;
		position:absolute;
		top:0;left:0;right:0;bottom:0;
		background-image:url('../../assets/img/pattern-dot.png');
	}

	&.blackout {
		opacity:0.5;
		position:absolute;
		top:0;left:0;right:0;bottom:0;
		background-color:#000000;
	}

	&.full-screen-blocker {
		display:none;
		z-index:1450;
		opacity:0.8;
		position:fixed;
		top:0;left:0;right:0;bottom:0;
		background-color:#000000;
	}

	&.greyout {
		opacity:0.5;
		position:absolute;
		top:0;left:0;right:0;bottom:0;
		background-color:$toolbar-bg;
		-webkit-transition: opacity 0.4s ease; /* Safari */
    	transition: opacity 0.4s ease;
	}
}

.button {
	&.tiny {
		font-size:0.68rem;
	}

	&.loader {
		font-family:$font-body;
		background-color:#ffffff;
		color:#888888;
		font-weight:normal;
		-webkit-border-radius: 30px;
		-moz-border-radius: 30px;
		border-radius: 30px;

		&:hover {
			color:#2285A2;
		}

		&.disabled {
			opacity:1;
			color:#888888 !important;
			background:none;
		}

		&.new {
			background-color:rgba(255,82,0,0.8);
			color:#ffffff;
			display:inline-block !important;
		}

		i {
			margin-right:0.3em;
		}
	}

	&.rounded {
		-webkit-border-radius: 30px;
		-moz-border-radius: 30px;
		border-radius: 30px;
		padding:0.5em 1em;
	}

	&.rss {
		background-color:$rss;
		&:hover {
			background-color:$rss;
		}
	}

	&.soundcloud {
		background-color:$soundcloud;
		&:hover {
			background-color:$soundcloud;
		}
	}

	&.soundcloud-play {
		&:before {
			content: "";
			display: inline-block;
			height: 40%;
			vertical-align: middle;
		}

		position:relative;
		width:100%;
		height:100%;
		padding:0;
		text-decoration:none !important;
		background-color:#404347;
		border-top:4px solid $soundcloud;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
		font-size:1.5em;
		font-family:$font-header;

		i {
			margin-right:0.4em;
			position:relative;
			top:1px;
		}

		&:hover {
			background-color:$soundcloud;
		}
	}

	&.popout {
		background-color:#444444;
		&.hover {
			background-color:#444444;
		}
	}

	&.itunes {
		background-color:$itunes;
		&:hover {
			background-color:$itunes;
		}
	}

	&.tunein {
		background-color:$tunein;
		&.hover {
			background-color:$tunein;
		}
	}

	&.stitcher {
		background-color:$stitcher;
		&:hover {
			background-color:$stitcher;
		}
	}
}

/* small */
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
	.page-constraint {
		width:$page-constraint-small;
	}
}
