/* CONTENT CARDS -------------------------
----------------------------------------*/
.content-card {
	position:relative;
	top:0em;

	-webkit-transform: translateZ(0);
	-webkit-transition: top 0.3s, opacity 0.5s; /* Safari */
    transition: top 0.3s, opacity 0.5s;

	.inner {
		background-color:#ffffff;
		border-radius: 3px 3px 3px 3px;
		-moz-border-radius: 3px 3px 3px 3px;
		-webkit-border-radius: 3px 3px 3px 3px;

		&.dark {
			background-color:#1e2124;

			.card-action {
				.details {
					.type {
						span {
							border:2px solid #1e2124;
						}
					}
					h1 {
						text-shadow:none;
						color:#a5a5a5;
					}
				}

				&:hover {
					.details {
						h1 {
							color:#2285A2;
						}
					}
				}
			}
		}
	}

	.image {
		position:relative;
		display:block;
		overflow:visible;
		height:10em;
		background-color:#1E2124;

		-webkit-border-top-left-radius: 3px;
		-webkit-border-top-right-radius: 3px;
		-moz-border-radius-topleft: 3px;
		-moz-border-radius-topright: 3px;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;

		.image-cover {
			border-radius: 3px 3px 0px 0px;
			-moz-border-radius: 3px 3px 0px 0px;
			-webkit-border-radius: 3px 3px 0px 0px;
			position:absolute;
			top:0; left:0; right:0; bottom:0;
			background-size:cover;
			background-position:center;
			background-repeat:no-repeat;

			.backstretch {
				-webkit-border-top-left-radius: 3px;
				-webkit-border-top-right-radius: 3px;
				-moz-border-radius-topleft: 3px;
				-moz-border-radius-topright: 3px;
				border-top-left-radius: 3px;
				border-top-right-radius: 3px;
			}
		}

		.image-fallback {
			border-radius: 3px 3px 0px 0px;
			-moz-border-radius: 3px 3px 0px 0px;
			-webkit-border-radius: 3px 3px 0px 0px;
			position:absolute;
			top:0; left:0; right:0; bottom:0;
			background-size:cover;
			background-position:center;
			background-image:url('../../assets/img/default-article-thumbnail.png?v=2');
			background-repeat:no-repeat;
		}

		.bottom-fade {
			position:absolute;
			bottom:0; left:0; right:0;
			height:25%;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+100 */
			background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
		}

		.disqus-comment-count {
			&:empty { display: none }
			&::before {
  				font-family: "foundation-icons";
				content: "\f132";
				margin-right:0.4em;
				font-size:1em;
			}

			background-color:rgba(0,0,0,0.8);
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			border-radius: 20px;
			position:absolute;
			right:0.4em;
			top:0.4em;
    		color: #ffffff;
			padding: 0.1em 0.4em;
    		font-family: $font-mono;
    		font-size:0.7em;
    		text-align: right;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+50,1+100 */
			//background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
			//background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
			//background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
		}

		.content-type-label {
			margin: auto;
			display: block;
			width: 40%;
			height: 10px;
			padding-top: 4px;
			border-radius: 0;
			background-color: #ffffff;
			color: #888888;
			position: absolute;
			left: 0;
			right: 0;
			bottom: -5px;
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
			font-size:0.8em;
			font-family:$font-body;
		}

		.type {
			position:absolute;
			text-align:center;
			bottom:0; right:0.4em;

			.colorbar {
				position:relative;
				display:inline-block;
				height:1.7em;
				width:1.7em;
				border-radius: 20px 20px 20px 20px;
				-moz-border-radius: 20px 20px 20px 20px;
				-webkit-border-radius: 20px 20px 20px 20px;
				background-color:#555555;

				&.video {
					background-color:#0078FF;
				}

				.icon {
					position: absolute;
					top: 50%;
					left: 50%;
					-moz-transform: translate(-50%, -50%);
					-webkit-transform: translate(-50%, -50%);
					-o-transform: translate(-50%, -50%);
					-ms-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
					text-align:center;
					font-size:1.2em;
					color:#ffffff;
				}
			}
		}
	}

	.details {
		height:15em;
		padding:1em;
		font-weight:bold;
		position:relative;
		overflow:hidden;

		.bottom-fade {
			position:absolute;
			bottom:0; left:0; right:0; top:inherit;
			height:1.5em;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+100 */
			background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
		}

		h1, h2 {
			-webkit-transition: color 0.2s; /* Safari */
			transition: color 0.2s;
		}
		h1 {
			text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
			font-size:1.6em;
			line-height:0.95em;
			overflow:hidden;
			word-break:break-word;
			margin:0;
			padding:0;
			color:#444444;
		}

		h2 {
			margin-top:0.4em !important;
			font-family:$font-body;
			line-height:1.4em;
			font-size:0.8em;
			font-weight:bold;
			color:#555555;
			margin:0;
			padding:0;
		}

		h2.user, p {
			font-weight:normal;
			color:#888888;
			font-family:$font-body;
			font-size:0.8em;
		}

		p {
			br:first-child {
				display:none;
			}
			margin-top:1em;
		}
	}

	.footer {
		position:relative;
		padding:0.5em;
		text-align:right;
		line-height:0.8em;
		font-size:0.8em;
		font-style:italic;
		color:#aaaaaa;
	}

	&:hover {
		.details h1, .details h2.description {
			color:#2285A2;
		}
	}


	&.type-news .image .type .colorbar {
		background-color:#BF34B5;
	}

	&.type-video .image .type .colorbar {
		background-color:#0078ff;
	}

	&.type-review .image .type .colorbar {
		&.yes {
			background-color:#33aa00;
		}
		&.no {
			background-color:#dd0000;
		}
		&.maybe {
			background-color:#f8901f;
		}
	}

	&.type-podcast .image .type .colorbar {
		background-color:#0078ff;
	}
}

.content-card.hidden {
	//top:5em;
	opacity:0;
} .cards-force-shown .hidden {
	top:0em;
	opacity:1;
}

/* FILLER CARDS --------------------------
----------------------------------------*/
.content-card.card-filler {
	height:422px;

	a {
		position: absolute;
		top: 50%;
		left: 50%;
		-moz-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		text-align:center;
		background-color:#ffffff;
		border-radius:10px;
		font-size:0.8em;
		font-family:$font-body;
		padding:0.5em;

		i {
			font-size:5em;
			line-height:0.5em;
		}
	}
}

/* PODCAST CARDS -------------------------
----------------------------------------*/
.content-card.card-podcast {

	.image {
		height:422px;
		position:relative;

		border-radius: 3px 3px 3px 3px;
		-moz-border-radius: 3px 3px 3px 3px;
		-webkit-border-radius: 3px 3px 3px 3px;

		.top-fade {
			border-radius: 3px 3px 3px 3px;
			-moz-border-radius: 3px 3px 3px 3px;
			-webkit-border-radius: 3px 3px 3px 3px;
			position:absolute;
			top:0; left:0; right:0;
			height:8em;

			background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
		}

		.bottom-fade {
			border-radius: 3px 3px 3px 3px;
			-moz-border-radius: 3px 3px 3px 3px;
			-webkit-border-radius: 3px 3px 3px 3px;
			position:absolute;
			bottom:0; left:0; right:0;
			height:9.5em;

			background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

		}

		.image-cover {
			border-radius: 3px 3px 3px 3px;
			-moz-border-radius: 3px 3px 3px 3px;
			-webkit-border-radius: 3px 3px 3px 3px;
		}

		.image-fallback {
			border-radius: 3px 3px 3px 3px;
			-moz-border-radius: 3px 3px 3px 3px;
			-webkit-border-radius: 3px 3px 3px 3px;
		}

		.top {
			position:absolute;
			top:0; left:0; right:0;
			padding:1em;
			padding-top:0.5em;

			.podcast-logo {
				position:absolute;
				top:0; left:0.4em;
				width:34px;
				height:56px;
				background-image:url('../../assets/img/podcast-logo.png');
				background-repeat:no-repeat;
			}

			h1, h2 {
				margin-left:28px !important;
				color:#ffffff;	
				font-size:1.1em;
				line-height:1.2em;
				overflow:hidden;
				word-break:break-word;
				margin:0;
				padding:0;
				text-shadow: 0px 0px 2px rgba(0, 0, 0, 1), 2px 2px 2px rgba(0, 0, 0, 1);
			}

			h2 {
				font-family:$font-body;
				font-size:1em;
				line-height:1.1em;
			}
		}

		.bottom {
			position:absolute;
			bottom:0; left:0; right:0;
			padding:1em;
			padding-bottom:1.5em;
			
			h1 {
				font-family:$font-body;
				color:#ffffff;	
				font-size:1em;
				line-height:1.2em;
				overflow:hidden;
				word-break:break-word;
				margin:0;
				padding:0;
				text-shadow: 0px 0px 2px rgba(0, 0, 0, 1), 2px 2px 2px rgba(0, 0, 0, 1);
			}
		}

		.footer {
			position:absolute;
			bottom:0; left:0; right:0;

			.listen-now {
				position:absolute;
				left:0.5em; bottom:0;
				font-style:normal;
				font-size:0.85em;
				line-height:2.1em;
				color:#ffffff;

				i {
					font-size:2em;
					margin-right:0.2em;
					position:relative;
					top:1px;
				}
			}
		}
	}
}

/* medium */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	.content-card {
		.image {
			height:8em;
		}

		.details {
			height:12em;
			padding:0.75em 0.75em;


			.type {
				top:-0.8em; right:0.4em;

				.colorbar {
					height:1.3em;
					width:1.3em;

					.icon {
						font-size:0.9em;
					}
				}
			}

			div {
				top:-0.95em;
				span {
					font-size:0.8em;
				}
			}

			h1 {
				font-size:1.4em;
			}

			p, h2 {
				line-height:1.3em;
			}
			/*
			h1 {
				font-size:1.2em;
				line-height:1.15em;
			}

			h2 {
				font-size:0.8em;
				line-height:0.9em;
			}
			*/
		}

		.footer {
			font-size:0.7em;
			line-height:0.7em;
		}
	}

	.content-card.card-filler {
		height:338px;
		a {
			i {
			}
		}
	}

	.content-card.card-podcast {
		.image {
			height:338px;

			.bottom-fade {
				height:6.4em;
			}

			.top, .bottom {
				padding:0.5em;

				.podcast-logo {
					display:none;
				}

				h1, h2 {
					font-size:0.95em;
					line-height:1.15em;
				}
			}

			.top {
				h1, h2 {
					margin-left:0px !important;
				}
			}

			.bottom {
				bottom:0.7em;

				h1 {
					font-size:0.9em;
				}
			}
		}
	}
}

/* small */
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
	.content-card {
		.image {
			height:8em;

			.content-type-label {
				font-size:0.7em;
			}
		}

		.details {
			height:10em;
			padding:0.5em;

			div {
				top:-0.95em;
				span {
					font-size:0.8em;
				}
			}

			h1 {
				font-size:1.2em;
				line-height:0.9em;
			}

			p, h2, h2.user {
				font-size:0.7em;
				line-height:1.2em;
			}
		}

		.footer {
			font-size:0.65em;
			line-height:0.65em;
		}
	}


	.content-card.card-filler {
		height:304px;
		a {
			i {
			}
		}
	}

	.content-card.card-podcast {
		.image {
			height:304px;

			.bottom-fade {
				height:6.3em;
			}

			.top, .bottom {
				padding:0.5em;

				.podcast-logo {
					display:none;
				}

				h1, h2 {
					font-size:0.8em;
					line-height:1.2em;
				}
			}

			.top {
				h1, h2 {
					margin-left:0px !important;
				}
			}

			.bottom {
				bottom:0.75em;
				font-size:0.95em;
			}
		}
	}
}