footer {
	background-color: $toolbar-bg;
	color:$light-main;
	margin-top:1em;
	padding: 1em .5em 0 .5em;
	font-family:$font-body;
  flex:0 0 auto;

	.block {
		padding-bottom:60px;
	}

	h4 {
		font-family:$font-body;
		font-size:1.2em;
		font-weight:bolder !important;
		color:$light-main;
		margin-bottom:0.5em;
		font-size: 1.2em;
    	line-height: 1.2em;
	}

	p {
		line-height:1.3em;
	}

	a:link, a:visited {
		transition:color 0.2s;
		color:$light-sub !important;
	}

	a:hover {
		color:$light-main !important;
	}

	.iconlink {
		padding-left:0.2em;
		padding-right:0.2em;

		img {
			opacity:0.7;
			transition:opacity 0.2s;
			max-width:30px;

			&:hover {
				opacity:1;
			}
		}
	}
	.row {
		.columns {
			text-align:center;
			margin-top:0.8em;

			.row {
				text-align:left;
			}
		}
	}

	.columns.left {
		text-align:left;
	}
	.columns.right {
		text-align:right;
	}
}


.footer-links {
	margin-left:0;
	list-style-type:none;
	line-height:1.3em;
}

/* small */
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
	footer {
		.block {
			padding-bottom:48px;
		}
		.columns.left, .columns.right, .row.discord {
			text-align:center !important;
		}

		.row.discord {
			img {
				max-width:50px;
			}
		}


		.footer-links {
			line-height:1.8em;
		}
	}
}
