.material-icon {
    transition: all 0.2s ease !important;
    span {
        transition: all 0.2s ease !important;

        background-color: #fff;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    float:left;
    width: 20px;
    height: 20px;
    margin: 1.05em 0.5em 1em 0em;
    position: relative;
}

.hamburger {
    span {
        height:3px;
    }

    .first {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    .second {
        -webkit-transform: translateY(7px);
        transform: translateY(7px);
    }

    .third {
        -webkit-transform: translateY(14px);
        transform: translateY(14px);
    }
}

.menu-text {
    float:left;
    padding:0;
    margin:0;
    line-height:$navbar-height;
    position:relative;
    top:-1px;
    color:#ffffff !important;
    font-size:0.9em;
}

.arrow {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);

    span {
        height:3px;
    }

    .first {
        -webkit-transform: rotate(90deg) translate(9px,2px);
        transform: rotate(90deg) translate(9px,2px);
    }

    .second {
        -webkit-transform: translate(-1px,8px);
        transform: translate(-1px,8px);
    }

    .third {
        opacity:0;
    }
}

/* I also need to move it back a bit to keep it centered. */
/*
.arrow {
    -webkit-transform: rotate(180deg) translateX(-3px);
}

.arrow .second,
.arrow .third {
    -webkit-transform: rotate(-45deg) translateY(56px);
    width: 40px;
}

.arrow .second {
    -webkit-transform: rotate(45deg) translateY(-15px) translateX(40px);
}
*/