/* PAGES ---------------------------------
----------------------------------------*/

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.table-constraint {
	max-width:100%;
	overflow:hidden;
	overflow-x:auto;
}

.full-screen-canvas {
	z-index:-1000;
	position:fixed;
	top:$navbar-height-sticky;
	left:0;right:0;bottom:0; top:0;
	background-color:rgba(0,0,0,0.7);
	opacity:0;
	overflow-y:scroll;
	-webkit-overflow-scrolling: touch;

	-webkit-transform: translateZ(0);
	-webkit-transition: opacity 0.3s ease; /* Safari */
    transition: opacity 0.3s ease;

    .load-indicator {
    	display:none;
    	z-index:5000;
    	color:#ffffff;
    	font-weight:bold;
    	position:absolute;
    	top:50%;
    	left:50%;
		-ms-transform: translate(-50%,-50%); /* IE 9 */
   		-webkit-transform: translate(-50%,-50%); /* Safari */
		transform: translate(-50%,-50%);

		.icon {
			width:50px;
			height:50px;
			background-image:url('../../assets/img/loading.png?v=3');
			background-position:center;
			background-repeat:no-repeat;
    		-webkit-animation:spin 1.5s linear infinite;
   	 		-moz-animation:spin 1.5s linear infinite;
    		animation:spin 1.5s linear infinite;
		}

		&.shown {
			display:block;
		}
    }

	&.open {
		opacity:1;
	}

	.canvas-page {
		margin:auto;
		max-width:$content-constraint-max;
		background-color:#f2f2f2;
		opacity:0;
		padding-bottom:0px !important;
		margin-bottom:60px !important;

		-webkit-transform: translateZ(0);
		-webkit-transition: transform 0.3s ease, opacity 0.3s; /* Safari */
    	transition: transform 0.3s ease, opacity 0.3s;

		-ms-transform: scale(0.5,0.5); /* IE 9 */
   		-webkit-transform: scale(0.5,0.5); /* Safari */
		transform: scale(0.5,0.5);

		&.shown {
			opacity:1;
			-ms-transform: scale(1,1); /* IE 9 */
   			-webkit-transform: scale(1,1); /* Safari */
			transform: scale(1,1);
		}
	}
}



.content-constraint {
	margin:auto;
	width:$content-constraint;
	max-width:$content-constraint-max;
	background-color:#f2f2f2;

	&.bare {
		background-color:#F2F2F2;
    margin-top:50px;
    margin-bottom:40px;
    border-radius:10px;
		h1 {
			color:$light-minor;
      padding-top:10px;
		}
	}
}

.page {
	position:relative;
	background-color:$cardhub-bg;

	&.canvas-page {
		top: 0 !important;
		background-image:none;
	}

	&.with-margin {
		margin-top:5em;
	}

	&.card-page {
		margin-top:2em;
	}

	.page-label {
		text-align:center;
		background-color:#ffffff;
		min-height:3em;

		h1 {
			text-transform:uppercase;
			border-radius: 20px 20px 20px 20px;
			border-style:solid;
			border-width:4px;
			border-color:$page-halo-border;
			-webkit-background-clip: padding-box; /* for Safari */
			background-clip: padding-box !important; /* for IE9+, Firefox 4+, Opera, Chrome */
			display:inline;
			position:relative;
			top:-0.7em;
			background:#ffffff;
			text-align:center;
			font-size:1em;
			color:$light-minor;
			padding:0.7em 1em;

			i {
				position:relative;
				top:0.1em;
				font-size:1.5em;
				line-height:1em;
				margin-right:0.2em;
			}
		}

		.page-controls {
			position:relative;
			top:-0.6em;
			text-align:center;
			margin:0;

			.page-constraint {
				padding-left:0.4em;
				padding-right:0.4em;
				.button {
					margin-bottom:0.2em;
				}
			}
		}
	}

	.content-headers {
		position:relative;
		background-color:#1E2124;
		padding:1em 1.5em;
		padding-bottom:60px;

		h1 {
			color:#eeeeee;
			line-height:0.9em;
			margin-bottom:0.2em;

			i {
				margin-right:0.2em;
			}
		}

		h2 {
			font-size:1.7em;
			font-style:italic;
			color:#888888;

			&.rating {
				.yes {
					color:rgba(51, 170, 0, 1);
				}
				.no {
					color:rgba(221, 0, 0, 1);
				}
				.maybe {
					color:rgba(248, 144, 31, 1);
				}

				.icon {
					position:relative;
					top:0.25em;
					display:inline-block;
					color:#ffffff;
					width:30px; height:30px;
					border-radius:30px;

					&.yes {
						background-color:rgba(51, 170, 0, 1);
					}

					&.no {
						background-color:rgba(221, 0, 0, 1);
					}

					&.maybe {
						background-color:rgba(248, 144, 31, 1);
					}

					i {
						font-size:0.8em !important;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
					}

					&.no {
						i {
							top:0.78em;
						}
					}
				}
				/*
				i {
					font-size:5em;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5), 2px 2px 2px rgba(0, 0, 0, 0.5);
				}
				*/
			}
		}

		h3 {
			color:#555555;
			font-family: $font-body;
			font-size:1em;
		}

		.thumbnail-image {
			text-align:center;
			position:absolute;
			bottom:-58px; left:0; right:0;

			.badge {
				position:relative;
				margin:auto;
				width:100px;
				height:100px;
				border:4px solid #F2F2F2;
				background-color:#1E2124;
				background-position:center;
				background-size:cover;
				background-repeat:no-repeat;
				border-radius:70px;
			}
		}
	}

	.article-container {
		padding:1em 2.2em;
		padding-top:60px;
		font-size:1.1em;

		word-break:break-word;
		background-color:#f2f2f2;

		a:hover {
			text-decoration:underline;
		}

		h1, h2, h3, h4, h5, h6 {
			font-size:1.5em !important;
			clear:both !important;
		}

		blockquote {
			display:table;
			border-left: 0.5em solid #cccccc;
			padding-top:0;

			h1, h2, h3, h4, h5, h6 {
				color:#999999;
			}
		}

		table {
			overflow-x:auto;
			word-break:normal;
		}


		&.podcast {
			background-color:$toolbar-bg;
			color:#eeeeee;
			padding-top:0;

			h1, h2, h3, h4, h5, h6 {
				color:#ffffff !important;
			}

			blockquote {
				border-left: 0.5em solid #555555;
			}
		}

		.fig-container {
			text-align:center;
			margin-bottom:0.5em;

			.outer {
				background-color:#ffffff;
				padding-left:0.3em;
				padding-top:0.3em;
				padding-right:0.3em;
				border-radius:3px;
			}


			&.float-left {
				float:left;
				clear:left;
				margin-right:1em;
				margin-top:0.5em;
			}

			&.float-right {
				float:right;
				clear:right;
				margin-left:1em;
				margin-top:0.5em;
			}

			&.float-left, &.float-right, &.float-center {
				text-align:center;
				padding:0.2em;

				img {
					max-width:$content-floater-image-width;
					border-radius:3px;
				}

				a {
					color:#222222;

					&:hover {
						text-decoration:none;
					}
				}

				.fig {
					max-width:$content-floater-image-width;
					margin:auto;
					font-size:0.8em;
					display:block;
					margin-top:0.2em;
					padding:0.2em;

					i {
						color:#258faf;
					}
				}
			}

			&.float-center {
				display:inline-block;

				img {
					max-width:100%;
				}

				.fig {
					max-width:100%;
				}
			}
		}

		p {
			img {
				border-radius:3px;
			}
		}

		#article-body {
			font-family:$font-mono;
		}
	}

	.share-container, .comments-container {
		padding:1em 1.5em;
	}
}

.load-more-container, .stock-pager {
	clear:both;
	padding-top:20px;
}

.load-more-container, .load-newer-container, .stock-pager {
	display:none;
}

.load-newer-container {
	margin-top:1.5em;

	&.group {
		.button {
			&:first-child {
				border-top-right-radius:0px;
				border-bottom-right-radius:0px;
			}

			&:last-child {
				border-top-left-radius:0px;
				border-bottom-left-radius:0px;
				margin-left:-0.3em;
			}
		}
	}

	&.collapsed {
		margin:0;
		padding:0;
	}
}

.iframe-constraint {
	//allows sizing the iframe downward
	max-width:$content-constraint-max;
	margin:auto;
	clear:both;

	.iframe-wrapper {
		//maintains 1920x1080 aspect rations
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
		margin-top:1em;
		margin-bottom:1em;

		iframe {
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			border:none;
		}
	}

	&.mini {
		.iframe-wrapper {
			padding:0;
			height:200px;

			iframe {
				height:200px;
			}
		}
	}
}

/* smaller than constraint */
@media screen and (min-width: 0px) and (max-width: $content-constraint-max + 50px) {

	.podcast-actions {
		text-align:center;

		.float-left, .float-right {
			float:none !important;
		}
	}

	.page.with-margin {
		margin-top:$navbar-height;
	}

	.page.card-page {
		margin-top:0;
	}

	.content-constraint, .canvas-page, .content-constraint {
		width:$content-constraint-small;
		max-width:inherit !important;
		//padding:0.5em 1em;
	}

	.page {
		.content-headers {
			padding:0.5em 1em;
			padding-bottom:60px;

			h1 {
				font-size:2em;
			}

			h2 {
				font-size:1.4em;

				&.rating .icon i {
					font-size:0.95em !important;
				}
			}

			h3 {
				font-size:1em;
			}

		}

		.article-container {
			padding:0.5em 2.2em;
			padding-top:60px;
			font-size:1em;
		}

		.share-container, .comments-container {
			padding:0.5em 1em;
		}
	}
}

/* small */
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
	.full-screen-canvas {
		.canvas-page {
			//padding: 0.5em 1em;
			padding-bottom:48px !important;
			margin-bottom:0px !important;
		}
	}

	.page {
		.article-container {

			padding:60px 1em 0.5em;

			h1, h2, h3, h4, h5, h6 {
				font-size:1.3em !important;
			}


			.fig-container {

				.outer {
					display:inline-block;
				}
				&.float-left, &.float-right {
					float:none !important;
					margin-left:0 !important;
					margin-right:0 !important;

					img {
						max-width:100% !important;
					}

					.fig {
						font-size:0.8em;
						display:block;
						margin-top:0.2em;
						padding:0.2em;

						i {
							color:#258faf;
						}
					}
				}
			}
		}
	}
}
