/* RETURN TO TOP WIDGET ------------------
----------------------------------------*/
.return-to-top {
	display:block;
	cursor:pointer;
	position:fixed;
	width:3em;
	height:3em;
	border-radius:3em;
	background-color:rgba(30,33,36,0.8);
	color:#ffffff;
	z-index:1449;
	right:20px;
	bottom:-6em;

	-webkit-transition: bottom 0.4s; /* Safari */
    transition: bottom 0.4s;

	&.shown {
		bottom:0.5em;
	}

	.inner {
    	position:absolute;
    	top:50%;
    	left:50%;
		-ms-transform: translate(-50%,-50%); /* IE 9 */
   		-webkit-transform: translate(-50%,-50%); /* Safari */
		transform: translate(-50%,-50%);

		.icon {
			-webkit-transform: rotate(-90deg);
			-ms-transform: rotate(-90deg);
			transform: rotate(-90deg);

			.load-indicator {
				display:none;
				z-index:5000;
				color:#ffffff;
				font-weight:bold;
				position:absolute;
				top:50%;
				left:50%;
				-ms-transform: translate(-50%,-50%); /* IE 9 */
				-webkit-transform: translate(-50%,-50%); /* Safari */
				transform: translate(-50%,-50%);

				.spinner {
					width:50px;
					height:50px;
					background-image:url('../../assets/img/loading.png?v=3');
					background-position:center;
					background-repeat:no-repeat;
					-webkit-animation:spin 2s linear infinite;
				 	-moz-animation:spin 2s linear infinite;
					animation:spin 2s linear infinite;
				}

				&.shown {
					display:block;
				}
			}

			i {
				font-size:2em;
				position:relative;
				top:0.02em; left:0.05em;
			}
		}
	}

	.label {
		position:absolute;
		padding:0.8em;
		right:100%;
		top:16%;
		margin-right:0.5em;
		background-color:rgba(30,33,36,0.8);
		font:$font-body;
		&:empty {
			display:none;
		}

		&.disabled {
			display:none !important;
		}

		.new-content-label {
			cursor:pointer;
			position:absolute;
			font:$font-body;
			padding:0.8em;
			right:100%;
			top:0;
			border-radius:3px;
			margin-right:0.5em;
			background-color:rgba(255,82,0,0.8);

			&.hidden {
				display:none;
			}
		}
	}
}