/* SOCIAL MEDIA CARDS --------------------
----------------------------------------*/
.social-media-card {
	position:relative;
	top:0em;

	-webkit-transform: translateZ(0);
	-webkit-transition: top 0.3s, opacity 0.5s; /* Safari */
    transition: top 0.3s, opacity 0.5s;

	.inner {
		background-color:#fefefe;
		border-radius: 3px 3px 3px 3px;
		-moz-border-radius: 3px 3px 3px 3px;
		-webkit-border-radius: 3px 3px 3px 3px;

		&.patreon {
			background-color:#e6461a;
		}
		&.discord {
			background-color:#738BD7;
		}
		&.facebook {
			background-color:#46629E;
		}
		&.twitter {
			background-color:#00ACED;
		}
		&.youtube {
			background-color:#BB0000;
		}
	}

	.image {
		text-align:center;
		position:relative;
		display:block;
		overflow:hidden;
		height:10em;

		img {
			width:100px;
			height:100px;
			position:absolute;
			top:50%;
			left:50%;
			transform: translate(-50%, -50%);
		}
	}

	.details {
		text-align:center;
		height:5em;
		padding:1em;
		font-weight:bold;

		h1 {
			font-size:1.1em;
			line-height:1.2em;
			max-height:3.6em;
			overflow:hidden;
			word-break:break-word;
			margin:0;
			padding:0;
			color:#ffffff;
		}

		h2 {
			margin-top:0.4em !important;
			font-family:$font-body;
			line-height:1em;
			font-size:0.9em;
			color:#ffffff;
			margin:0;
			padding:0;
		}
	}

	.footer {
		padding:0.5em;
		text-align:right;
		line-height:0.8em;
		font-size:0.8em;
		font-style:italic;
		color:#aaaaaa;
	}
}

.social-media-card.hidden {
	//top:20px;
	opacity:0;
} .cards-force-shown .hidden {
	//top:0px;
	opacity:1;
}

/*
.social-media-card.hidden {
	top:3em;
	opacity:0;
} .cards-force-shown .hidden {
	top:0em;
	opacity:1;
}

.social-media-card .inner.active {
	position:relative;
	top:-2px;
	border: 2px solid #f9832c;
	border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
}
*/

/* medium */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	.social-media-card {
		.image {
			height:8em;
		}

		.details {
			height:5.2em;
			padding:0.5em;

			h1 {
				font-size:0.95em;
				line-height:1.15em;
			}

			h2 {
				font-size:0.8em;
				line-height:0.9em;
			}
		}

		.footer {
			font-size:0.7em;
			line-height:0.7em;
		}
	}
}

/* small */
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
	.social-media-card {
		.image {
			height:5em;

			img {
				width:50px;
				height:50px;
			}
		}

		.details {
			height:4em;
			padding:0.5em;

			h1 {
				font-size:0.8em;
				line-height:1.2em;
			}

			h2 {
				font-size:0.7em;
				line-height:0.9em;
			}
		}

		.footer {
			font-size:0.65em;
			line-height:0.65em;
		}
	}
}