/* TOP PANEL -----------------------------
----------------------------------------*/
.navbar {
	-webkit-transition: top 0.2s !important;
	transition: top 0.2s !important;
	z-index:1600;
	position:fixed;
	top:0; left:0; right:0;
	line-height:$navbar-height/2;
	height:$navbar-height;
	padding:0;
	color:#ffffff;
	font-family:$font-body;
	font-size:0.95em;
	background-color:#1E2124;
	text-align:center;

	#app-menu-toggle {
		display:none;
		margin-left:0.8em;
	}
	.menu-text {
		margin-left:0 !important;
	}

	.bridge-decor {
		-webkit-transition: top 0.2s;
		transition: top 0.2s;
		background-color:#1E2124;
		position:absolute;
		top:20px; left:0; right:0; margin:0 auto;
		width:300px;
		height:50px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
	}

	.user-panel {
		float:right;
		margin-right:0.8em;
	}

	.centered-nav-logo {
		position:relative;
		margin:auto;
		width:90px;
		height:$navbar-height;
		line-height:$navbar-height;

		a {
			.logo-circle {
				-webkit-transition: top 0.2s, height 0.2s, border-radius 0.2s, border-size 0.2s, background-color 0.2s;
				transition: top 0.2s, height 0.2s, border-radius 0.2s, border-size 0.2s, background-color 0.2s;
				position:relative;
				top:8px;
				display:inline-block;
				width:86px;
				height:86px;
				border:5px solid #2e3236;
				-webkit-border-radius: 86px;
				-moz-border-radius: 86px;
				border-radius: 86px;

				background-color:#363a3e;
				background-image:url('../../assets/img/nav-logo.png');
				background-position:center;
				background-repeat:no-repeat;
				text-align:center;

				.logo-text {
					display:inline-block;
					position:absolute;
					top:-8px; left:-8px;
					width:94px;
					height:18px;
					background-image:url('../../assets/img/nav-logo-text.png');
					background-position:center;
					background-repeat:no-repeat;
				}
			}

			&:hover {
				.logo-circle {
					background-color:#2ba6cb;
				}
			}
		}

		.left {
			right:100%;
			margin-right:1em;
			ul {
				float:right;
			}
		}

		.right {
			left:100%;
			margin-left:1em;
			ul {
				float:left;
			}
		}

		.left, .right {
			position:absolute;
			top:0;
			height:$navbar-height;
			line-height:$navbar-height/2;
			width:280%;

			ul {
				list-style-type:none;
				margin:0; padding:0;
				height:$navbar-height;
				line-height:$navbar-height;

				li {
					height:$navbar-height;
					float:left;

					a, a:link {
						-webkit-transition: background-color 0.2s, color 0.2s;
						transition: background-color 0.2s, color 0.2s;
						width:75px;
						height:$navbar-height - 10px;
						line-height:1.8em;
						font-size:0.7em;
						text-transform:uppercase;
						position:relative;
						top:5px;
						margin-left:0.3em;
						margin-right:0.3em;
						display:block;
						background-color:#2a2d31;
						padding-top:2px;
						color:#b8b8b8;
						-webkit-border-radius: 7px;
						-moz-border-radius: 7px;
						border-radius: 7px;

						i {
							-webkit-transition: color 0.2s;
							transition: color 0.2s;
							font-size:1.8em;
							color:#5e6266;
							display:block;
						}

						&:hover, &.active {
							color:#ffffff;
							background-color:#4b4f53;
							i {
								color:#ffffff;
							}
						}
					}
				}
			}
		}
	}

	&.collapsed, &.always-collapsed {
		.bridge-decor {
			top:0px;
		}
		a .logo-circle {
			top:5px;
			height:$navbar-height - 10px;
			border-radius:5px;
			background-size:50%;
			border:0;
			background-color:transparent;

			.logo-text {
				top:-$navbar-height;
			}
		}
	}

	&.offscreen {
		top:-$navbar-height;
	}
}

/*
.navbar-bg {
	z-index:1400;
	position:fixed;
	top:0; left:0; right:0;
	line-height:$navbar-height;
	height:$navbar-height;
	padding:0 .5em;
	font-family: $font-header;
	font-size:0.95em;
	background-color:rgba(0,0,0,0);

	-webkit-transition: top 0.2s, background-color 0.2s;
    transition: top 0.2s, background-color 0.2s;

	&.opaque {
		background-color:$toolbar-bg !important;
	}

	&.collapsed {
		top:-$navbar-height;
	}
}
.navbar {
	z-index:1600;
	position:fixed;
	top:0; left:0; right:0;
	line-height:$navbar-height;
	height:$navbar-height;
	padding:0 .5em;
	font-family: $font-header;
	font-size:0.95em;
	background-color:rgba(0,0,0,0);

	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	-webkit-transition: top 0.2s, height 0.4s ease;
    transition: top 0.2s, height 0.4s ease;

    ul.navigation {
    	margin:0;
    }

	.left-side {
		.app-menu-icon {
			float:left;
			width:19px;
			text-indent:-9999px;
			white-space:nowrap;
			background-image:url('../../assets/img/app-menu-icon.png');
			background-position:left;
			background-repeat:no-repeat;
			margin-right:0.8em;
			margin-left:-0.8em;
		}
		.logo {
			-webkit-backface-visibility: hidden;
			-webkit-transform: translateZ(0);
			-webkit-transition: height 0.4s ease, width 0.4s ease;
   			transition: height 0.4s ease, width 0.4s ease;
			float:left;
			width:193px;
			height:$navbar-height;
			text-indent:-9999px;
			white-space:nowrap;
			background-image:url('../../assets/img/logo-full.png');
			background-position:left;
			background-repeat:no-repeat;
		}
	}

	.right-side {
		float:right;
	}

	&.sticky {
		height:$navbar-height-sticky;
		.logo {
			height:$navbar-height-sticky;
		}

		ul.navigation {
			line-height:$navbar-height-sticky;
		}
	}

	&.opaque {
		background-color:$toolbar-bg;
	}

	&.collapsed {
		top:-$navbar-height;
	}
}
*/
/*
.main-panel-spacer {
	z-index:-1;
	background-color:#000000;
	height:60vh;
	max-height:80vh;

	&.mini {
		height:$navbar-height-sticky;
		max-height:$navbar-height-sticky;
	}

	&.small {
		height:200px;
		max-height:200px;
	}
}
*/
.main-panel {
	-webkit-transition: top 0.2s; /* Safari */
    transition: top 0.2s;
	position:relative;
	//top:0; left:0; right:0;
	background-color:$header-bg !important;
	background-position:top center;
	background-size:cover;
	background-repeat:no-repeat;
	margin-top:$navbar-height - 2;
	height:570px;
  overflow-x:hidden;

	&.mini {
		height:$navbar-height-sticky;
		max-height:$navbar-height-sticky;
		margin-top:0;

		.topfade, .bottomfade {
			display:none;
		}

		.cta {
			display:none;
		}
	}

	&.small {
		height:200px;
		max-height:200px;

		a {
			cursor:default;
		}

		.topfade, .bottomfade {
			height:100px;
		}

		.cta {
			display:none;
		}

		.bottomfade {
			display:none;
		}
	}

	.topfade {
		position:absolute;
		top:0; left:0; right:0;
		height:$fader-height;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0+100 */
		background: -moz-linear-gradient(top,  rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	}

	.bottomfade {
		position:absolute;
		bottom:0; left:0; right:0;
		height:$fader-height;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+100 */
		background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	}

	.cta-container {
		display:block;
		position:absolute;
		left:0;
		right:0;
		bottom:0;
		top:0;
		text-align:center;

		.cta {
			position:absolute;
			top:50%;
			left:50%;
			-moz-transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
			-o-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			text-align:center;

			h1 {
				font-family:$font-header;
				font-size:2.7em;
				color:#ffffff;
				text-shadow: 0 0 2px #000,2px 2px 2px #000, -2px -2px 21px #000, 2px 2px 21px #000;
			}

			.button {
				font-size:0.9em;
				text-transform:uppercase;
				background:none;
				background-color:rgba(0,0,0,0.5);
				border:2px solid #ffffff;
			}
		}
	}

	a.edit-link {
		position:absolute;
		bottom:1em;
		left:1em;
		color:#ffffff;

		&:hover {
			text-decoration: underline;
		}

		i {
			margin-right:0.4em;
		}
	}
	.social {
		display:none;
		font-family: $font-header;
		font-size:0.8em;
		color:$light-sub;
		position:absolute;
		bottom:0.4em; right:1.5em;
		cursor:default;
		text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5), 2px 2px 2px rgba(0, 0, 0, 0.5);

		.links {
			position:relative;
			top:-10px;
			padding-right:0.4em;
			font-size:2em;

			i {
				color:$light-sub;
				margin-left:0.2em;
				-webkit-transition: color 0.3s;
				transition: color 0.3s;

				&:hover {
					color:#ffffff;
				}
			}
		}
	}
}

.app-sidebar ul.navigation {
	font-family: $font-body;
	line-height: $navbar-height;
	font-size:1em;
	font-weight:bold;
	list-style-type: none;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	-webkit-transition: line-height 0.4s ease;
	transition: line-height 0.4s ease;

	li {
		float:left;
		position:relative;
		top:-1px;
		padding-left:0.9em;
		text-transform:uppercase;

		a {
			i {
				display:none;

				&.always-show {
					display:inline-block;
					font-size:2em;
				}
			}
		}

		a:link, a:visited {
			color:$light-sub;
		}

		a:hover {
			color:$light-main;
		}

	}
}

.app-sidebar {
	-webkit-transform: translateZ(0);
	-webkit-transition: left 0.2s ease !important; /* Safari */
    transition: left 0.2s ease !important;

	z-index:1500;
	width:85%;
	max-width:300px;
	overflow-y:auto;
	position:fixed;
	top:0;
	left:-85%;
	bottom:0;
	height:100vh;
    background-color:#282b30;
	padding-bottom:80px;
	text-transform:uppercase;

	&.open {
		left:0%;
		float:left;
		-webkit-box-shadow: 0px 0px 36px 1px rgba(0,0,0,0.4);
		-moz-box-shadow: 0px 0px 36px 1px rgba(0,0,0,0.4);
		box-shadow: 0px 0px 36px 1px rgba(0,0,0,0.4);
	}

	.top-area {
		height:$navbar-height-sticky;
		background-color:#2e3136;
	}

	.scroll-area {
		position:absolute;
		top:$navbar-height-sticky;
		left:0;
		right:0;
		bottom:0;
		overflow-y:auto;
	}
	h1 {
		font-size:1em;
		color:#ffffff;
		text-transform:uppercase;
		margin:0.5em 0 0 0.5em;
	}

	ul.navigation {
		margin-left:0px;
		margin-top:0.5em;

		li {
			font-family:$font-body;
			font-size:0.9em;
			line-height:3em;
			padding-left:0px;
			float:none;

			a {
				padding-left:1.4em;
				display:block;

				i {
					display:inline-block;
					width:1.5em;
					margin-right:0.3em;
					font-size:1.5em;
					position:relative;
					top:0.1em;
					text-align:center;
				}
			}
		}
	}
}

.navbar ul.nav-profile {
	position:relative;
	background-color:rgba(0,0,0,0);
	list-style-type:none;
	line-height:$navbar-height;
	margin:0;
	padding:0;

	li {
		border:0;
		background:none;

		a {
			font-size:1em;
			font-family:$font-body;
			line-height:2em;
			padding:1em;
		}
	}

	.user-avatar {
		cursor:pointer;
		min-width:35px;
		background-position:center;
		background-repeat:no-repeat;
		background-size:35px 35px;
	}

	.user-dropdown-menu {
		display:none;
		position:absolute;
		top:50%; right:0;
		text-align:left;
		min-width:170px;
	}

	&:hover {
		.user-dropdown-menu {
			border:2px solid #ffffff;
			background-color:#eeeeee;
			display:block;
			top:100%;

			&:before {
				content: "";
				position: absolute;
				border-style: solid;
				display: block;
				width: 0;
				top: -12px;
				right: 4px;
				bottom: auto;
				left: auto;
				border-width: 0 12px 12px;
				border-color: #eeeeee transparent;
			}

			.icon {
				display:inline-block;
				width:1.5em;
			}

			li {
				display:block;
				min-width:100%;
			}
		}
	}
}

/* small enough for app menu variant */
@media (max-width: 780px) {
	.navbar {
		#app-menu-toggle {
			display:block;
		}

		.bridge-decor {
			top:0px;
		}

		.centered-nav-logo {
			.left, .right {
				display:none;
			}

			a .logo-circle {
				top:5px;
				height:$navbar-height - 10px;
				border-radius:5px;
				background-size:50%;
				border:0;
				background-color:transparent;

				.logo-text {
					top:-$navbar-height;
				}
			}
		}
	}
}

/* small */
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
	/*
	.main-panel-spacer {
		height:$panel-height-small;
	}
	*/

	.main-panel {
		height:$panel-height-small;

		.topfade {
			height:$fader-height-small;
		}

		.bottomfade {
			height:$fader-height-small;
		}

		.cta-container .cta {
			h1 {
				font-size:1.6em;
			}

			.button {
				font-size:0.7em;
			}
		}
	}
}

/* medium */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	/*
	.main-panel-spacer {
		height:$panel-height-medium;
	}
	*/
	.main-panel {
		height:$panel-height-medium;

		.topfade {
			height:$fader-height-medium;
		}

		.bottomfade {
			height:$fader-height-medium;
		}

		.cta-container .cta {
			h1 {
				font-size:1.8em;
			}

			.button {
				font-size:0.8em;
			}
		}
	}
}
