/* WIDGETS -------------------------------
----------------------------------------*/
.widget-image-reel-container {
	position:relative;
	max-width:$content-constraint-max;
	margin:auto;
	clear:both;
	border-radius:3px;

	.widget-image-reel-inner {
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
		margin-top:1em;
		margin-bottom:1em;
		background-color:#1e2124;
		border-radius:3px;

		.widget-image-reel {
			z-index:999;

			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			border:none;
			max-width:100%;
			overflow:hidden;
			-webkit-overflow-scrolling: touch;
			white-space:nowrap;
			padding:0;
			margin:0;
			border-radius:3px;

			li {
				display:inline-block;
				text-align:center;
				width:100%;
				height:100%;
				background-image:url('../../assets/img/img-placeholder.png');
				background-position:center;
				background-repeat:no-repeat;

				img {
					max-height:100%;
				}
			}
		}

		.go-left, .go-right {
			-webkit-transform: translateZ(0);
			transform: translateZ(0);
			z-index:1000;
			background-color:rgba(255,255,255,0.1);
			position:absolute;
			top:0;
			height:100%;
			padding-top:18%;
			width:3.5em;
			cursor:pointer;
			-webkit-transition: background-color 0.3s; /* Safari */
			transition: background-color 0.3s;

			.indicator {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);

				i {
					font-size:3em;
					color:rgba(255,255,255,0.2);
					-webkit-transition: color 0.3s; /* Safari */
					transition: color 0.3s;
				}
			}

			&:hover {
				background-color:rgba(255,255,255,0.2);

				.indicator {
					i {
						color:rgba(255,255,255,1);
					}
				}
			}

			&.disabled {
				background-color:rgba(255,255,255,0);
				cursor:default;

				.indicator {
					i {
						color:rgba(255,255,255,0);
					}
				}
			}
		}
		.go-left {
			left:0;

			-moz-transform: scale(-1, 1);
			-webkit-transform: scale(-1, 1);
			-o-transform: scale(-1, 1);
			-ms-transform: scale(-1, 1);
			transform: scale(-1, 1);
		}
		.go-right {
			right:0;
		}

		.image-page-indicator {
			position:absolute;
			z-index:1001;
			bottom:0.2em;
			left:0.2em;
			width:3.5em;
			height:3.5em;
			border-radius:3.5em;
			color:#ffffff;
			font-size:0.9em;
			line-height:0.8em;
			font-family:$font-header;
			background-color:rgba(0,0,0,0.7);
			white-space:nowrap;
			text-shadow: 0px 0px 2px rgba(0, 0, 0, 1), 2px 2px 2px rgba(0, 0, 0, 1);

			.counter {
				position: absolute;
				top: 50%;
				left: 50%;
				-moz-transform: translate(-50%, -50%);
				-webkit-transform: translate(-50%, -50%);
				-o-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
			}
		}
	}

	&.mobile-view {
		margin-left:-1em;
		margin-right:-1em;
		background:#ffffff;
		padding-top:0.05em;
		padding-bottom:0.05em;
		border-radius:0;
		margin-bottom:1.5em;

		.widget-image-reel-inner {
			background-color:rgba(255,255,255,0);
			.widget-image-reel {
				padding-right:0.25em;
				border-radius:0px;
				overflow:hidden;
				overflow-x:auto;

				li {
					display:inline;

					&:first-child {
						margin-left:1em;
					}

					&:last-child {
						margin-right:1em;
					}
					width:auto;
					margin-right:0.3em;
				}
			}
			.go-left, .go-right, .image-page-indicator {
				display:none;
			}
		}
	}
}

.tweet {
	text-align:center;
}
.tweet-embed-iframe {
	position:relative !important;
	display:inline !important;
	width:100% !important;
	max-width:100% !important;
}

/* smaller than constraint */
@media screen and (min-width: 39.9375em) and (max-width: $content-constraint-max + 50px) {
	.widget-image-reel-container {
		.widget-image-reel-inner {
			.go-left, .go-right {
				width:2.5em;
				.indicator i {
					font-size:2em;
				}
			}
			.image-page-indicator {
				width:2.4em;
				height:2.4em;
			}
		}
	}

	&.mobile-view {
		margin-left:-2.1em !important;
		margin-right:-2.1em !important;
		.widget-image-reel-inner {
			padding-bottom:35%;

			.widget-image-reel {
				li {
					&:first-child {
						margin-left:2.1em !important;
					}
					&:last-child {
						margin-right:2.1em !important;
					}
				}
			}
		}
	}
}

/* small */
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
	.widget-image-reel-container {
		.widget-image-reel-inner {
			.go-left, .go-right {
				width:2.5em;
				.indicator i {
					font-size:2em;
				}
			}
			.image-page-indicator {
				width:2.4em;
				height:2.4em;
			}
		}
	}

	&.mobile-view {
		.widget-image-reel-inner {
			padding-bottom:50%;
		}
	}
}